{% extends request.is_ajax|yesno:"base_ajax.html,base_rigs.html" %}
{% load help_text from filters %}
{% load profile_by_index from filters %}
{% load yesnoi from filters %}
{% load button from filters %}

{% block content %}
<div class="row">
    <div class="col-12 text-right my-3">
        {% button 'edit' url='ec_edit' pk=object.pk %}
        {% button 'view' url='event_detail' pk=object.event.pk text="Event" %}
        <a href="{% url 'event_pt' object.event.pk %}" class="btn btn-info"><span class="fas fa-paperclip"></span> <span
        class="hidden-xs">Create Power Test</span></a>
        {% include 'partials/review_status.html' with perm=perms.RIGS.review_eventchecklist review='ec_review' %}
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
    <div class="card  mb-3">
        <div class="card-header">General</div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-6">Date</dt>
                <dd class="col-6">
                    {{ object.date }}
                </dd>
                <dt class="col-6">Venue</dt>
                <dd class="col-6">
                    {% if object.venue %}
                    <a href="{% url 'venue_detail' object.venue.pk %}" class="modal-href">
                        {{ object.venue }}
                    </a>
                    {% endif %}
                </dd>
            </dl>
        </div>
    </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="card  mb-3">
            <div class="card-header">Safety Checks</div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-10">{{ object|help_text:'safe_parking'|safe }}</dt>
                    <dd class="col-2">
                        {{ object.safe_parking|yesnoi }}
                    </dd>
                    <dt class="col-10">{{ object|help_text:'safe_packing'|safe }}</dt>
                    <dd class="col-2">
                        {{ object.safe_packing|yesnoi }}
                    </dd>
                    <dt class="col-10">{{ object|help_text:'exits'|safe }}</dt>
                    <dd class="col-2">
                        {{ object.exits|yesnoi }}
                    </dd>
                    <dt class="col-10">{{ object|help_text:'trip_hazard'|safe }}</dt>
                    <dd class="col-2">
                        {{ object.trip_hazard|yesnoi }}
                    </dd>
                    <dt class="col-10">{{ object|help_text:'warning_signs'|safe }}</dt>
                    <dd class="col-2">
                        {{ object.warning_signs|yesnoi }}
                    </dd>
                    <dt class="col-10">{{ object|help_text:'ear_plugs'|safe }}</dt>
                    <dd class="col-2">
                        {{ object.ear_plugs|yesnoi }}
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    {% include 'partials/crew_list.html' with event=object.event %}
</div>

<div class="col-12 text-right mt-4">
{% button 'edit' url='ec_edit' pk=object.pk %}
{% button 'view' url='event_detail' pk=object.pk text="Event" %}
<a href="{% url 'event_pt' object.event.pk %}" class="btn btn-info"><span class="fas fa-paperclip"></span> <span
        class="hidden-xs">Create Power Test</span></a>
{% include 'partials/review_status.html' with perm=perms.RIGS.review_eventchecklist review='ec_review' %}
</div>
<div class="col-12 text-right">
{% include 'partials/last_edited.html' with target="eventchecklist_history" %}
</div>
{% endblock %}
