{% for item in object_list %}
    {#                <li><a href="{% url 'asset_detail' item.pk %}">{{ item.asset_id }} - {{ item.description }}</a></li>#}
    <!---TODO: When the ability to filter the list is added, remove the colours from the filter - specifically, stop greying out sold/binned stuff if it is being searched for-->    <tr class="
                {% if item.status.name == 'Broken' %}
                  danger
                {% elif item.status.name == 'Lost'%}
                  warning
                {% elif item.status.name == 'In Service'%}
                  success
                {% elif item.status.name in 'Sold|Binned'%}
                  text-muted
                {% endif %}
                ">
        <td style="vertical-align: middle;"><a href="{% url 'asset_detail' item.pk %}">{{ item.asset_id }}</a></td>
        <td style="vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 25vw">{{ item.description }}</td>
        <td style="vertical-align: middle;">{{ item.category }}</td>
        <td style="vertical-align: middle;">{{ item.status }}</td>
        <td class="hidden-xs">

            <div class="btn-group" role="group">
                <a type="button" class="btn btn-default btn-sm" href="{% url 'asset_detail' item.pk %}"><i class="glyphicon glyphicon-eye-open"></i> View</a>
                {% if perms.assets.change_asset %}
                <a type="button" class="btn btn-default btn-sm" href="{% url 'asset_update' item.pk %}"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                <a type="button" class="btn btn-default btn-sm" href="{% url 'asset_update' item.pk %}?duplicate=true"><i class="glyphicon glyphicon-duplicate"></i> Duplicate</a>
                {% endif %}
            </div>
        </td>
    </tr>
{% endfor %}
