{% load button from filters %}
{% if audit %}
<a type="button" class="btn btn-info btn-sm modal-href" href="{% url 'asset_audit' item.asset_id %}"><i class="fas fa-certificate"></i> Audit</a>
{% else %}
<div class="btn-group" role="group">
    {% button 'view' url='asset_detail' pk=item.asset_id clazz="btn-sm" %}
    {% if perms.assets.change_asset %}
        {% button 'edit' url='asset_update' pk=item.asset_id clazz="btn-sm" %}
    {% endif %}
    {% if perms.assets.add_asset %}
        {% button 'duplicate' url='asset_duplicate' pk=item.asset_id clazz="btn-sm" %}
    {% endif %}
</div>
{% endif %}
