{% for item in object_list %}
    <tr class="{{ item.status.display_class|default:'' }} assetRow">
        <th scope="row" style="vertical-align: middle;"><a class="assetID" href="{% url 'asset_detail' item.asset_id %}">{{ item.asset_id }}</a></th>
        <td class="assetDesc" style="vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 25vw">{{ item.description }}</td>
        <td class="assetCategory" style="vertical-align: middle;">{{ item.category }}</td>
        <td class="assetStatus" style="vertical-align: middle;">{{ item.status }}</td>
        <td class="hidden-xs">
            <div class="btn-group" role="group">
                <a type="button" class="btn btn-primary btn-sm" href="{% url 'asset_detail' item.asset_id %}"><i class="fas fa-eye"></i> View</a>
                {% if perms.assets.change_asset %}
                <a type="button" class="btn btn-warning btn-sm" href="{% url 'asset_update' item.asset_id %}"><i class="fas fa-edit"></i> Edit</a>
                <a type="button" class="btn btn-secondary btn-sm" href="{% url 'asset_duplicate' item.asset_id %}"><i class="fas fa-clone"></i> Duplicate</a>
                {% endif %}
            </div>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td></td>
        <td colspan="5">Nothing found</td>
    </tr>
{% endfor %}
