{% for item in object_list %}
    <tr class="{{ item.status.display_class|default:'' }} assetRow" id="{{item.asset_id}}">
        <td style="vertical-align: middle;"><a class="assetID" href="{% url 'asset_detail' item.asset_id %}">{{ item.asset_id }}</a></td>
        <td class="assetDesc" style="vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 25vw">{{ item.description }}</td>
        <td class="assetCategory" style="vertical-align: middle;">{{ item.category }}</td>
        <td class="assetStatus" style="vertical-align: middle;">{{ item.status }}</td>
        <td class="hidden-xs">
            <div class="btn-group" role="group">
            {% if audit %}
                <a type="button" class="btn btn-info modal-href" href="{% url 'asset_audit' item.asset_id %}"><i class="glyphicon glyphicon-object-align-left"></i> Audit</a>
            {% else %}
                <a type="button" class="btn btn-default btn-sm" href="{% url 'asset_detail' item.asset_id %}"><i class="glyphicon glyphicon-eye-open"></i> View</a>
                {% if perms.assets.change_asset %}
                <a type="button" class="btn btn-default btn-sm" href="{% url 'asset_update' item.asset_id %}"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                <a type="button" class="btn btn-default btn-sm" href="{% url 'asset_duplicate' item.asset_id %}"><i class="glyphicon glyphicon-duplicate"></i> Duplicate</a>
                {% endif %}
            </div>
            {% endif %}
        </td>
    </tr>
{% endfor %}
