<div class="py-2">
    {% if edit and object %}
    <!--edit-->
    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
    {% elif duplicate %}
    <!--duplicate-->
    <button type="submit" class="btn btn-success"><i class="fas fa-tick"></i> Create Duplicate</button>
    {% elif create %}
    <!--create-->
    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
    {% else %}
    <!--detail view-->
    <div class="btn-group">
        <a href="{% url 'asset_update' object.asset_id %}" class="btn btn-warning"><i class="fas fa-edit"></i> Edit</a>
        <a class="btn btn-info" href="{% url 'asset_duplicate' object.asset_id %}"><i class="fas fa-clone"></i> Duplicate</a>
    </div>
    {% endif %}
    {% if create or edit or duplicate %}
    <br>
    <button type="reset" class="btn btn-link" onclick="
    {% if duplicate %}
        {% url 'asset_detail' previous_asset_id %}
    {% else %}
        history.back()
    {% endif %}">Cancel</button>
    {% endif %}
</div>
