{% load button from filters %}
<div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Asset ID</th>
          <th scope="col">Description</th>
          <th scope="col">Category</th>
          <th scope="col">Status</th>
          <th scope="col" class="d-none d-sm-table-cell">Quick Links</th>
        </tr>
      </thead>
      <tbody id="asset_table_body">
        {% for item in object_list %}
            <tr class="table-{{ item.status.display_class|default:'' }} assetRow" id="{{ item.asset_id }}">
                <th scope="row" class="align-middle"><a class="assetID" href="{% url 'asset_detail' item.asset_id %}">{{ item.asset_id }}</a></th>
                <td class="assetDesc"><span class="text-truncate d-inline-block align-middle">{{ item.description }}</span></td>
                <td class="assetCategory align-middle">{{ item.category }}</td>
                <td class="assetStatus align-middle">{{ item.status }}</td>
                <td class="d-none d-sm-table-cell">
                    {% include 'partials/asset_list_buttons.html' %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Nothing found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
