<div id="confirm_delete_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <form method="post" id="confirm_delete_form">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirm Delete</h4>
        </div>
        <div class="modal-body">
        <p>Are you sure you want to delete asset:</p>
        <p><strong>{{ object }}</strong></p>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" onclick="deleteAsset({{ object.id }})" data-dismiss="modal"><i class="glyphicon glyphicon-trash"></i> Delete</button>
          <button class="btn btn-success" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
