{% load widget_tweaks %}

  <!---TODO: Assign form-control class in here--->
<div class="form-group">
    <label for="{{ field.id_for_label }}">{{ label|default:field.label }}</label>
    {% if css %}
    {% render_field  field|add_class:css %}
    {% elif disable_if_filled and field.value %}
    {% render_field  field|attr:'disabled' %}
    {% elif css and disable_if_filled %}
    {% render_field  field|add_class:css|attr:'disabled' %}
    {% else %}
    {{ field }}
    {% endif %}
    <span class="helper-text" data-error="{{ field.errors.text }}"></span>
</div>
