SECRET_KEY=
DEBUG=false
STAGING=false
DJANGO_ALLOWED_HOSTS=
DOMAIN=
SESSION_COOKIE_SECURE_ENABLED=true
CSRF_COOKIE_SECURE_ENABLED=true

DATABASE_ENGINE=postgresql
DATABASE_NAME=rigs
DATABASE_USERNAME=rigs
DATABASE_PASSWORD=
DATABASE_HOST=db
DATABASE_PORT=5432

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_FROM=

HCAPTCHA_SITEKEY=
HCAPTCHA_SECRET=
SENTRY_DSN=
