Django==1.7.1
PyMySQL==0.6.2
django-debug-toolbar==1.2.2
django-registration-redux==1.1
django-reversion==1.8.5
sqlparse==0.1.13
simplejson==3.6.5
lxml==3.4.1
pillow==2.7.0
reportlab==2.7
z3c.rml==2.7.2
pyPDF2==1.23
