beautifulsoup4==4.6.3
contextlib2==0.5.5
diff-match-patch==20121119
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.1.2
django-debug-toolbar==1.10.1
django-ical==1.5
django-recaptcha==1.4.0
django-registration-redux==2.4
django-reversion==3.0.0
django-toolbelt==0.0.1
premailer==3.2.0
#django-widget-tweaks==1.4.1
git+git://github.com/jazzband/django-widget-tweaks.git@1.4.2
gunicorn==19.9.0
icalendar==4.0.3
lxml==4.2.5
Markdown==3.0.1
Pillow==5.3.0
psycopg2==2.7.5
Pygments==2.2.0
PyPDF2==1.26.0
python-dateutil==2.7.3
pytz==2018.5
raven==6.9.0
reportlab==3.5.9
selenium==3.14.1
simplejson==3.16.1
six==1.11.0
sqlparse==0.2.4
static3==0.7.0
svg2rlg==0.3
yolk==0.4.3
z3c.rml==3.5.1
zope.event==4.4
zope.interface==4.5.0
zope.schema==4.9.1