beautifulsoup4==4.6.0
contextlib2==0.5.5
diff-match-patch==20121119
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0.13
django-filter==2.0.0
django-widget-tweaks==1.4.3
django-debug-toolbar==1.9.1
django-ical==1.4
django-recaptcha==1.4.0
django-registration-redux==2.4
django-reversion==2.0.13
django-toolbelt==0.0.1
django-polymorphic==2.1.2
djangorestframework==3.9.0
premailer==3.2.0
git+git://github.com/jazzband/django-widget-tweaks.git@1.4.2
gunicorn==19.8.1
icalendar==4.0.1
lxml==4.2.1
Markdown==2.6.11
Pillow==5.1.0
psycopg2==2.7.4
Pygments==2.2.0
PyPDF2==1.26.0
python-dateutil==2.7.3
pytz==2018.4
raven==6.8.0
reportlab==3.4.0
selenium==3.12.0
simplejson==3.15.0
six==1.11.0
sqlparse==0.2.4
static3==0.7.0
svg2rlg==0.3
yolk==0.4.3
whitenoise==4.1.2
z3c.rml==3.5.0
zope.event==4.3.0
zope.interface==4.5.0
zope.schema==4.5.0
