{% extends 'base_rigs.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="col-sm-12">
	<h1>Password Reset</h1>
	
	<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
	
	<div class="col-sm-8 col-sm-offset-2 well">
		<form action="" method="POST" role="form" class="">{% csrf_token %}
			{% if form.errors %}
				{% include 'form_errors.html' %}
			{% endif %}
			<div class="form-group">
				<label for="{{form.email.id_for_label}}" class="col-sm-2 col-form-label">{{form.email.label}}</label>
				<div class="col-sm-10">
					{% render_field form.email type="email" class+="form-control" %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-md-8 col-md-offset-2">
					{{ form.captcha }}
				</div>
				<div class="col-sm-2 text-right">
					<input type="submit" value="Submit" class="btn btn-primary" />
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}