{% extends 'base_rigs.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Registration{% endblock %}

{% block content %}
<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url({% static 'imgs/wof2014-1-small.jpg' %}); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw; margin-top: -24px; padding-top: 24px;">
    <div class="container">
            <div class="card">
                <h3 class="card-header">New User Registration</h3>
                <div class="card-body">
                    {% if form.errors or supplement_form.errors %}
                    	<div class="alert alert-danger">
                    		{{form.errors}}
                    		{{supplement_form.errors}}
                    	</div>
                    {% endif %}
                    <div class="col-sm-8 col-sm-offset-2">
                        <form method="post" role="form">{% csrf_token %}
                            {% for field in form %}
                            	<div class="form-group form-row">
                            		<label for="{{ field.id_for_label }}" class="col-form-label col-sm-4">{{ field.label }}</label>
                            		<div class="controls col-sm-8">
                            			{% render_field field class+="form-control" placeholder=field.label %}
                            		</div>
                            	</div>
                            {% endfor %}
                            <p><input type="submit" value="Register" class="btn btn-primary pull-right"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
