{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Registration{% endblock %}

{% block content %}
{% if form.errors or supplement_form.errors %}
	<div class="alert alert-danger">
		{{form.errors}}
		{{supplement_form.errors}}
	</div>
{% endif %}

<form action="" method="post" class="form-horizontal" role="form">{% csrf_token %}
    {% for field in form %}
    	<div class="form-group">
    		<label for="{{ field.id_for_label }}" class="control-label col-sm-2">{{ field.label }}</label>
    		<div class="controls col-sm-10">
    			{% render_field field class+="form-control" placeholder=field.label %}
    		</div>
    	</div>
    {% endfor %}
    <p><input type="submit" value="Register" class="btn btn-primary pull-right"></p>
</form>
{% endblock %}