{% load button from filters %}
<div class="row">
    <div class="col">
        <form class="form-inline justify-content-end">
            {% csrf_token %}
            <div class="input-group">
                <input type="search" name="q" placeholder="Search" value="{{ request.GET.q }}"
                       class="form-control" id="id_search_text"/>
                <span class="input-group-append">{% button 'search' id="id_search" %}</span>
            </div>
        </form>
    </div>
</div>
