{% if user.is_authenticated %}
<form id="searchForm" class="d-flex align-items-center flex-wrap gap-2 flex-nowrap mx-md-3 px-2 border border-light rounded" role="form" method="GET" action="{% url 'search' %}">
    <div class="input-group">
        <input id="id_search_input" type="search" name="q" class="form-control form-control-sm" placeholder="Search..." value="{{ request.GET.q }}" />
        <button class="btn btn-info btn-sm"><span class="fas fa-search"></span><span class="visually-hidden"> Search</span></button>
    </div>
    <a href="{% url 'search_help' %}" class="nav-link modal-href ms-1"><span class="fas fa-question-circle"></span></a>
</form>
{% endif %}
