{% load widget_tweaks %}
<div class="col-md-6 mt-3">
    <div class="card form-hws form-is_rig  {% if object.pk and not object.is_rig %}hidden{% endif %} mb-3" style="display: none;">
        <div class="card-header">Contact Details</div>
        <div class="card-body">
            <div class="form-group" data-toggle="tooltip" title="The main contact for the event, can be left blank if purely an organisation">
                <label for="{{ form.person.id_for_label }}"
                       class="col-sm-4 control-label">{{ form.person.label }}</label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-9 col-md-7 col-lg-8">
                            <select id="{{ form.person.id_for_label }}" name="{{ form.person.name }}" class="form-control selectpicker" data-live-search="true" data-sourceurl="{% url 'api_secure' model='person' %}">
                                {% if person %}
                                    <option value="{{form.person.value}}" selected="selected" data-update_url="{% url 'person_update' form.person.value %}">{{ person }}</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-sm-3 col-md-5 col-lg-4 align-right">
                            <div class="btn-group">
                                <a href="{% url 'person_create' %}" class="btn btn-success modal-href"
                                   data-target="#{{ form.person.id_for_label }}">
                                    <span class="fas fa-plus"></span>
                                </a>
                                <a href="{% if form.person.value %}{% url 'person_update' form.person.value %}{% endif %}" class="btn btn-warning modal-href" id="{{ form.person.id_for_label }}-update" data-target="#{{ form.person.id_for_label }}">
                                    <span class="fas fa-user-edit"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" data-toggle="tooltip" title="The client organisation, leave blank if client is an individual">
                <label for="{{ form.organisation.id_for_label }}"
                       class="col-sm-4 control-label">{{ form.organisation.label }}</label>

                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-9 col-md-7 col-lg-8">
                            <select id="{{ form.organisation.id_for_label }}" name="{{ form.organisation.name }}" class="form-control selectpicker" data-live-search="true" data-sourceurl="{% url 'api_secure' model='organisation' %}" >
                                {% if organisation %}
                                    <option value="{{form.organisation.value}}" selected="selected" data-update_url="{% url 'organisation_update' form.organisation.value %}">{{ organisation }}</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-sm-3 col-md-5 col-lg-4 align-right">
                            <div class="btn-group">
                                <a href="{% url 'organisation_create' %}" class="btn btn-success modal-href"
                                   data-target="#{{ form.organisation.id_for_label }}">
                                    <span class="fas fa-plus"></span>
                                </a>
                                <a href="{% if form.organisation.value %}{% url 'organisation_update' form.organisation.value %}{% endif %}" class="btn btn-warning modal-href" id="{{ form.organisation.id_for_label }}-update" data-target="#{{ form.organisation.id_for_label }}">
                                    <span class="fas fa-edit"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card form-hws form-non_rig mb-3" style="display: none;">
        <div class="card-header">Event Description</div>
        <div class="card-body">
            <div class="form-group" data-toggle="tooltip" title="A short description of the event, shown on rigboard and on paperwork">
                <label for="{{ form.description.id_for_label }}"
                       class="col-sm-4 control-label">{{ form.description.label }}</label>

                <div class="col-sm-8">
                    {% render_field form.description class+="form-control" %}
                </div>
            </div>
        </div>
    </div>
</div>
