<h5 class="py-3"><a class="btn btn-info" data-toggle="collapse" href="#values" aria-expanded="false" aria-controls="values">View Threshold Values</a></h5>
<div class="row collapse" id="values">
    <div class="col-md-6 col-sm-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="row">RCD Value (mA)</th>
                    <th scope="row">Max Z<small>S</small> (Ohms)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>30</td>
                    <td>1667</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>300</td>
                    <td>167</td>
                </tr>
                <tr>
                    <td>500</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-sm-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="row">Distro</th>
                    <th scope="row">Max PSCC with Single Phase Supply (kA)</th>
                    <th scope="row">Max PSCC with Three Phase Supply (kA)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Intel & Toblerone distros</td>
                    <td>6</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>All other distros</td>
                    <td>10</td>
                    <td>5</td>
                </tr>
            </tbody>
        </table>
        <p><strong>Voltage Drop on Circuit:</strong> &#8804;5% (approx. 12v)</p>
    </div>
</div>
