{% load widget_tweaks %}
{% load l10n %}

<div class="col-md-6 my-3">
    <div class="card card-default form-hws form-non_rig">
        <div class="card-header">Event Details</div>
        <div class="card-body">
            <div id="form-hws">
                <div class="form-group" data-toggle="tooltip" title="Name of the event, displays on rigboard and on paperwork">
                    <label for="{{ form.name.id_for_label }}"
                           class="col-sm-4 control-label">{{ form.name.label }}</label>

                    <div class="col-sm-8">
                        {% render_field form.name class+="form-control" %}
                    </div>
                </div>
                <div class="form-group" data-toggle="tooltip" title="The venue for the rig, leave blank if unknown (e.g. for a dry hire)">
                    <label for="{{ form.venue.id_for_label }}"
                           class="col-sm-4 control-label">{{ form.venue.label }}</label>

                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-9 col-md-7 col-lg-8">
                                <select id="{{ form.venue.id_for_label }}" name="{{ form.venue.name }}" class="form-control selectpicker" data-live-search="true" data-sourceurl="{% url 'api_secure' model='venue' %}">
                                {% if venue %}
                                    <option value="{{form.venue.value}}" selected="selected" data-update_url="{% url 'venue_update' form.venue.value %}">{{ venue }}</option>
                                {% endif %}
                                </select>
                            </div>
                            <div class="col-sm-3 col-md-5 col-lg-4 align-right">
                                <div class="btn-group">
                                    <a href="{% url 'venue_create' %}" class="btn btn-success modal-href"
                                       data-target="#{{ form.venue.id_for_label }}">
                                        <span class="fas fa-plus"></span>
                                    </a>
                                    <a href="{% if object.venue %}{% url 'venue_update' object.venue.pk %}{% endif %}" class="btn btn-warning modal-href" id="{{ form.venue.id_for_label }}-update" data-target="#{{ form.venue.id_for_label }}">
                                        <span class="fas fa-edit"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.start_date.id_for_label }}"
                           class="col-sm-4 control-label">{{ form.start_date.label }}</label>

                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-12 col-md-7" data-toggle="tooltip" title="Start date for event, required">
                                {% render_field form.start_date class+="form-control" %}
                            </div>
                            <div class="col-sm-12 col-md-5" data-toggle="tooltip" title="Start time of event, can be left blank">
                                {% render_field form.start_time class+="form-control" step="60" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.end_date.id_for_label }}"
                           class="col-sm-4 control-label">{{ form.end_date.label }}</label>

                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-12 col-md-7" data-toggle="tooltip" title="End date of event, leave blank if unknown or same as start date">
                                {% render_field form.end_date class+="form-control" %}
                            </div>
                            <div class="col-sm-12 col-md-5" data-toggle="tooltip" title="End time of event, leave blank if unknown">
                                {% render_field form.end_time class+="form-control" step="60" %}
                            </div>
                        </div>
                    </div>
                </div>

                {# Rig only information #}
                <div class="form-is_rig {% if object.pk and not object.is_rig %}hidden{% endif %}">
                    <div class="form-group" data-toggle="tooltip" title="The date/time at which TEC have access to the venue">
                        <label for="{{ form.access_at.id_for_label }}"
                               class="col-sm-4 control-label">{{ form.access_at.label }}</label>
                        <div class="col-sm-8">
                            {% render_field form.access_at class+="form-control" step="60" %}
                        </div>
                    </div>
                    <div class="form-group" data-toggle="tooltip" title="The date/time at which crew should meet for this event">
                        <label for="{{ form.meet_at.id_for_label }}"
                               class="col-sm-4 control-label">{{ form.meet_at.label }}</label>

                        <div class="col-sm-8">
                            {% render_field form.meet_at class+="form-control" step="60" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div class="checkbox">
                                <label data-toggle="tooltip" title="Mark this event as a dry-hire, so it needs to be checked in at the end">
                                    {% render_field form.dry_hire %}{{ form.dry_hire.label }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                {# Status is needed on all events types and it looks good here in the form #}
                <div class="form-group" data-toggle="tooltip" title="The current status of the event. Only mark as booked once paperwork is received">
                    <label for="{{ form.status.id_for_label }}"
                           class="col-sm-4 control-label">{{ form.status.label }}</label>

                    <div class="col-sm-8">
                        {% render_field form.status class+="form-control" %}
                    </div>
                </div>

                <div class="form-is_rig {% if object.pk and not object.is_rig %}hidden{% endif %}">
                    <div class="form-group" data-toggle="tooltip" title="The Member in Charge of this event">
                        <label for="{{ form.mic.id_for_label }}"
                               class="col-sm-4 control-label">{{ form.mic.label }}</label>

                        <div class="col-sm-8">
                            <select id="{{ form.mic.id_for_label }}" name="{{ form.mic.name }}" class="form-control selectpicker" data-live-search="true" data-sourceurl="{% url 'api_secure' model='profile' %}?fields=first_name,last_name,initials">
                                {% if mic %}
                                    <option value="{{form.mic.value}}" selected="selected" >{{ mic.name }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    {% if object.dry_hire %}
                        <div class="form-group" data-toggle="tooltip" title="The person who checked-in this dry hire">
                            <label for="{{ form.checked_in_by.id_for_label }}"
                                   class="col-sm-4 control-label">{{ form.checked_in_by.label }}</label>

                            <div class="col-sm-8">
                                 <select id="{{ form.checked_in_by.id_for_label }}" name="{{ form.checked_in_by.name }}" class="form-control selectpicker" data-live-search="true" data-sourceurl="{% url 'api_secure' model='profile' %}?fields=first_name,last_name,initials">
                                    {% if checked_in_by %}
                                        <option value="{{form.checked_in_by.value}}" selected="selected" >{{ checked_in_by.name }}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-group" data-toggle="tooltip" title="The student ID of the client who collected the dry-hire">
                        <label for="{{ form.collector.id_for_label }}"
                               class="col-sm-4 control-label">{{ form.collector.label }}</label>

                        <div class="col-sm-8">
                            {% render_field form.collector class+="form-control" %}
                        </div>
                    </div>

                    <div class="form-group" data-toggle="tooltip" title="The purchase order number (for external clients)">
                        <label for="{{ form.purchase_order.id_for_label }}"
                               class="col-sm-4 control-label">{{ form.purchase_order.label }}</label>

                        <div class="col-sm-8">
                            {% render_field form.purchase_order class+="form-control" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
