{% load button from filters %}
<div class="btn-group py-3">
    {% button 'edit' 'event_update' event.pk %}
    {% if event.is_rig %}
    {% button 'print' 'event_print' event.pk %}
    {% endif %}
    {% button 'duplicate' 'event_duplicate' event.pk %}
    {% if event.is_rig %}
        {% if event.internal %}
            <a class="btn item-add modal-href event-authorise-request
                    {% if event.authorised %}
                        btn-success active disabled
                    {% elif event.authorisation and event.authorisation.amount != event.total and event.authorisation.last_edited_at > event.auth_request_at %}
                        btn-warning
                    {% elif event.auth_request_to %}
                        btn-info
                    {% else %}
                        btn-secondary
                    {% endif %}
                    "
               {% if event.authorised %}aria-disabled="true"{% else %}href="{% url 'event_authorise_request' object.pk %}"{% endif %}>
                <span class="fas fa-paper-plane"></span>
                <span class="d-none d-sm-inline">
                    {% if event.authorised %}
                        Authorised
                    {% elif event.authorisation and event.authorisation.amount != event.total and event.authorisation.last_edited_at > event.auth_request_at %}
                        Authorisation Issue
                    {% elif event.auth_request_to %}
                        Awaiting Authorisation
                    {% else %}
                        Request Authorisation
                    {% endif %}
                </span>
            </a>
        {% endif %}

        {% if perms.RIGS.add_invoice %}
            <a id="invoiceDropdownLabel" href="{% url 'invoice_event' event.pk %}" class="btn
                        {% if event.invoice and event.invoice.is_closed %}
                            btn-success
                        {% elif event.invoice %}
                            btn-warning
                        {% else %}
                            btn-danger
                        {% endif %}
                        " title="Invoice Rig"><span
                    class="fas fa-pound-sign"></span>
                <span class="d-none d-sm-inline">Invoice</span></a>
        {% endif %}

        <a href="https://docs.google.com/forms/d/e/1FAIpQLSf-TBOuJZCTYc2L8DWdAaC3_Werq0ulsUs8-6G85I6pA9WVsg/viewform" class="btn btn-danger"><span class="fas fa-file-invoice-dollar"></span> <span class="d-none d-sm-inline">Subhire Insurance Form</span></a>

        {% if event.can_check_in %}
            {% if request.user.current_event %}
            <a href="{% url 'event_checkout' %}" class="btn btn-warning">Check Out</a>
            {% else %}
            <a href="{% url 'event_checkin' event.pk %}" class="btn btn-success modal-href"><span class="fas fa-user-clock"></span> <span class="d-none d-sm-inline">Check In</span></a>
            {% endif %}
        {% endif %}
    {% endif %}
</div>
