<div class="card {% if event.riskassessment and event.eventchecklist %}
                    border-success
                {% else %}
                    border-warning
                {% endif %}">
    <div class="card-header">Health &amp; Safety Details</div>
    <div class="card-body">
        <h5>Risk Assessment:</h5>
        {% include 'partials/hs_status.html' with event=event object=event.riskassessment view='ra_detail' edit='ra_edit' create='event_ra' %}
        <hr>
        <h5>Event Checklist:</h5>
        {% include 'partials/hs_status.html' with event=event object=event.eventchecklist view='ec_detail' edit='ec_edit' create='event_ec' %}
    </div>
</div>
