{% load to_class_name from filters %}
{% if object.pk != None %}
{#<span class="badge badge-success my-3"><span class="fas fa-check"></span> Completed</span><br/>#}
<div class="btn-group">
    <a href="{% url view object.pk %}" class="btn btn-primary"><span class="fas fa-eye"></span> <span class="hidden-xs">View</span>
    <a href="{% url edit object.pk %}" class="btn btn-warning"><span class="fas fa-edit"></span><span class="hidden-xs">Edit</span></a>
</div>
{{ object.review_string|safe }}
{% else %}
<a href="{% url create event.pk %}" class="btn btn-info"><span class="fas fa-paperclip"></span> <span
            class="hidden-xs">Create</span></a>
{% endif %}
