{% extends request.is_ajax|yesno:'base_ajax.html,base_training.html' %}

{% load static %}
{% load widget_tweaks %}
{% load button from filters %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/selects.css' %}"/>
{% endblock %}

{% block preload_js %}
    <script src="{% static 'js/selects.js' %}"></script>
{% endblock %}

{% block js %}
    <script src="{% static 'js/autocompleter.js' %}"></script>
    <script src="{% static 'js/tooltip.js' %}"></script>
{% endblock %}

{% block content %}
<form role="form" action="{{ form.action|default:request.path }}" method="POST" id="add_record_form">
    {% include 'form_errors.html' %}
    {% csrf_token %}
    {% render_field form.trainee|attr:'hidden' value=form.trainee.initial %}
    <div class="form-group form-row">
      <label for="item_id" class="col-sm-2 col-form-label">Item</label>
      <select name="item" id="item_id" class="form-control selectpicker custom-select col-sm-4" data-live-search="true" data-sourceurl="{% url 'api_secure' model='training_item' %}" required>
      </select>
    </div>
    <div class="form-group form-row">
      <label for="depth" class="col-sm-2 col-form-label">Depth</label>
      {% render_field form.depth|add_class:'form-control custom-select col-sm-4' %}
    </div>
    <div class="form-group form-row">
      {% if external %}
      <label for="supervisor" class="col-sm-2 col-form-label">Supervising Organisation</label>
      <select name="supervisor" id="supervising_organisation_id" class="form-control selectpicker custom-select col-sm-10" data-live-search="true" data-sourceurl="{% url 'api_secure' model='organisation' %}" required>
      </select>
      {% else %}
      <label for="supervisor" class="col-sm-2 col-form-label">Supervisor</label>
      <select name="supervisor" id="supervisor_id" class="form-control selectpicker custom-select col-sm-10" data-live-search="true" data-sourceurl="{% url 'api_secure' model='profile' %}?fields=first_name,last_name,initials" required>
      </select>
      {% endif %}
    </div>
    <div class="form-group form-row">
        <label for="date" class="col-sm-2 col-form-label">Training Date</label>
        <div class="col-sm-8">
            {% render_field form.date|add_class:'form-control'|attr:'type="date"' value=form.date.initial %}
        </div>
        <button class="btn btn-info col-sm-2" onclick="var date = new Date(); $('#id_date').val([date.getFullYear(), ('0' + (date.getMonth()+1)).slice(-2), ('0' + date.getDate()).slice(-2)].join('-'))" tabindex="-1" type="button">Today</button>
    </div>
    <div class="form-group form-row">
        <label for="item_description" class="col-sm-2 col-form-label">Notes</label>
        <div class="col-sm-10">
            <textarea type="text" placeholder="Notes" class="form-control"
                      id="notes" rows="3"></textarea>
        </div>
    </div>
  {% if not request.is_ajax %}
   <div class="col-sm-12 text-right pr-0">
        {% button 'submit' %}
    </div>
  {% endif %}
</form>
{% endblock %}

{% block footer %}
<div class="col-sm-12 text-right pr-0">
<button type="submit" class="btn btn-primary" title="Save" form="add_record_form"><span class="fas fa-save align-middle"></span> <span class="d-none d-sm-inline align-middle">Save</span></button>
</div>
{% endblock %}
