{% extends 'base_training.html' %}

{% load user_has_qualification from tags %}
{% load user_level_if_present from tags %}

{% block content %}
{% if edit or True %}
<div class="col-sm-12 text-right pr-0">
<a type="button" class="btn btn-success mb-3" href="{% url 'add_requirement' pk=object.pk %}">
	<span class="fas fa-plus"></span> Add New Requirement
</a>
</div>
{% endif %}
<div class="card mb-3">
    <h4 class="card-header">Description</h4>
    <div class="card-body">
        <p>{{ object.description }}</p>
    </div>
</div>
<div class="card mb-3">
    <h4 class="card-header">Users with this level</h4>
    <div class="card-body">
        <div class="card-columns">
        {% for user in users_with %}
        <div class="card w-50">
            <img src="{{user.profile_picture}}" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">{{user}}</h5>
                <p>Qualified on... </p>
            </div>
            <div class="card-footer text-right pr-1"><a href="{% url 'profile_detail' user.pk %}" class="btn btn-primary btn-sm"><span class="fas fa-user"></span> View Profile</a></div>
        </div>
        {% empty %}
        Nobody here but us chickens...
        {% endfor %}
        </div>
    </div>
</div>
<div class="card">
    <h4 class="card-header">Level Requirements</h4>
    <table class="table card-body">
      <thead>
        <tr>
          <th scope="col" class="table-warning">Training Started</th>
          <th scope="col" class="table-success">Training Complete</th>
          <th scope="col" class="table-info">Passed Out</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><ul class="list-unstyled">{% for req in object.started_requirements %}<li>{{ req.item }} {% user_has_qualification request.user req.item 0 %} {% if request.user.is_supervisor or perms.training.change_traininglevel %}<a type="button" class="btn btn-danger btn-sm" href="{% url 'remove_requirement' pk=req.pk %}"><span class="fas fa-times-circle"></span></a>{% endif %}</li>{% endfor %}</ul></td>
          <td><ul class="list-unstyled">{% for req in object.complete_requirements %}<li>{{ req.item }} {% user_has_qualification request.user req.item 1 %} {% if request.user.is_supervisor or perms.training.change_traininglevel %}<a type="button" class="btn btn-danger btn-sm" href="{% url 'remove_requirement' pk=req.pk %}"><span class="fas fa-times-circle"></span></a>{% endif %}</li>{% endfor %}</ul></td>
          <td><ul class="list-unstyled">{% for req in object.passed_out_requirements %}<li>{{ req.item }} {% user_has_qualification request.user req.item 2 %} {% if request.user.is_supervisor or perms.training.change_traininglevel %}<a type="button" class="btn btn-danger btn-sm" href="{% url 'remove_requirement' pk=req.pk %}"><span class="fas fa-times-circle"></span></a>{%endif%}</li>{% endfor %}</ul></td>
        </tr>
      </tbody>
    </table>
    <h4 class="card-header">Prerequisite Levels:</h4>
    <div class="card-body">
       <ul>
       {% for level in object.prerequisite_levels.all %}
       {% user_level_if_present request.user level as level_qualification %}
       <li><a href="{{level.get_absolute_url}}">{{ level }}</a> <span class="fas {% if level_qualification %}text-success fa-check{% if level_qualification.confirmed_by is not None %}-double{% endif %}{% else %}fa-hourglass-start text-warning{%endif%}"></span></li>
       {% empty %}
       None
       {% endfor %}
       </ul>
    </div>
</div>
{% include 'partials/last_edited.html' with target="traininglevel_history" %}
{% endblock %}
