{% extends 'base_training.html' %}

{% load static %}
{% load button from filters %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/selects.css' %}"/>
{% endblock %}

{% block preload_js %}
    {{ block.super }}
    <script src="{% static 'js/selects.js' %}"></script>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/autocompleter.js' %}"></script>
    <script src="{% static 'js/interaction.js' %}"></script>
    <script src="{% static 'js/tooltip.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <form class="form" method="POST" id="session_form" action="{% url 'session_log' %}">
            {% include 'form_errors.html' %}
            {% csrf_token %}
            <h3>People</h3>
            <div class="form-group row">
              {% include 'partials/supervisor_field.html' %}
            </div>
            <div class="form-group row">
              <label for="trainees_id" class="col-sm-2">Select Attendees</label>
              <select multiple name="trainees" id="trainees_id" class="selectpicker col-sm-10" data-live-search="true" data-sourceurl="{% url 'api_secure' model='profile' %}?fields=first_name,last_name,initials">
              </select>
            </div>
            <h3>Training Items</h3>
            <div class="row px-3">
                <div class="form-group">
                  <label for="selectpicker">Training Items</label>
                  <select multiple name="items" id="items_id" class="selectpicker col-12 px-0" data-live-search="true" data-sourceurl="{% url 'api_secure' model='training_item' %}?fields=description,reference_number&filters=active">
                  </select>
                </div>
                <div class="form-group pl-3">
                  {% include 'partials/form_field.html' with field=form.depth %}
                </div>
                <div class="form-group pl-3">
                  {% include 'partials/form_field.html' with field=form.date %}
                </div>
            </div>
            <div class="form-group">
              {% include 'partials/form_field.html' with field=form.notes %}
            </div>
            <div class="col-sm-12 text-right my-3">
            {% button 'submit' %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
