{% extends 'base_rigs.html' %}

{% block content %}
<a type="button" class="btn btn-success" href="{% url 'edit_record' pk=request.user.pk %}">
	<i class="fas fa-plus"></i> Add New Training Record
</a>
<div class="row mb-3">
<h2 class="col-12">Training Levels</h2>
{% for level in levels %}

{% endfor %}
</div>
<div class="row">
<h2 class="col-12">Training Items</h2><br>
{% for category in categories %}
<div class="col-md-3">
        <div class="card mb-3">
            <h3 class="card-header">{{ category.name }}</h3>
            <div class="list-group list-group-flush">
            {% for depth in depths %}
            <li class="list-group-item {% if depth.0 == 0 %}list-group-item-warning{%elif depth.0 == 1%}list-group-item-success{%else%}list-group-item-info{%endif%}">{{depth.1}}</li>
            {% for q in object.qualifications_obtained.all %}
                {% if q.depth == depth.0 and q.item.category == category %}
                <li class="list-group-item">{{q.item}} ({{q.date}})</li>
                {% endif %}
            {% endfor %}
            {% endfor %}
            </div>
        </div>
</div>
{% endfor %}
</div>
{% endblock %}
