{% extends 'base_training.html' %}

{% load url_replace from filters %}
{% load orderby from filters %}
{% load paginator from filters %}
{% load linkornone from filters %}
{% load button from filters %}
{% load get_levels_of_depth from tags %}

{% load static %}

{% block js %}
    <script src="{% static "js/tooltip.js" %}"></script>
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}

{% block content %}
<form method="GET" class="ml-auto w-25 d-flex flex-column justify-content-end">
    {% csrf_token %}
    <div class="input-group">
        <input type="search" name="q" placeholder="Search" value="{{ request.GET.q }}"
               class="form-control" id="id_search_text"/>
        <span class="input-group-append">{% button 'search' id="id_search" %}</span>
    </div>
    <button type="submit" class="btn btn-primary mt-2 {% if request.GET.is_supervisor %}active{%endif%}" data-toggle="button" aria-pressed="{% if request.GET.is_supervisor %}true{%endif%}" name="is_supervisor" value="{% if request.GET.is_supervisor %}{% else %}True{% endif %}">
      Only Supervisors
    </button>
</form>
<div class="row pt-2">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th>Van Driver?</th>
                        <th>Technician?</th>
                        <th>Supervisor?</th>
                        <th>Competency Assessed Count</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr id="row_item">
                        <th scope="row" class="align-middle" id="cell_name"><a href="{% url 'trainee_detail' object.pk %}">{{ object.name }} {% if request.user.pk == object.pk %}<span class="fas fa-user text-success"></span>{%endif%}</a></th>
                        <td>{{ object.is_driver|yesno|title }}</td>
                        <td>{% for level in object|get_levels_of_depth:1 %}{% if forloop.first %}Yes {%endif%}{{ level.get_icon }}{%empty%}No{%endfor%}</td>
                        <td>{% for level in object|get_levels_of_depth:2 %}{% if forloop.first %}Yes {%endif%}{{ level.get_icon }}{%empty%}No{%endfor%}</td>
                        <td>{{ object.num_qualifications }} {% if forloop.first and page_obj.number is 1 %} <span class="fas fa-crown text-warning"></span>{% endif %}</td>
                        <td style="white-space: nowrap">
                            <a class="btn btn-info" href="{% url 'trainee_detail' pk=object.pk %}"><span class="fas fa-eye"></span> View Training Record</a>
                            <a href="{% url 'trainee_item_detail' pk=object.pk %}" class="btn btn-info"><span class="fas fa-info-circle"></span> View Detailed Record</a>
                        </td>
                    </tr>
                {% empty %}
                <tr class="table-warning">
                    <td colspan="6" class="text-center">Nothing found</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% paginator %}
{% endblock %}
