{% if is_paginated %}
<ul class="pagination center-align">
    {% if page_obj.has_previous %}
    <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}" class="no-pad"><i class="material-icons nnt-purple">chevron_left</i></a></li>
    {% else %}
    <li class="disabled"><i class="material-icons grey-text">chevron_left</i></li>
    {% endif %}

    <li class="nnt-orange" id="page">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>

    {% if page_obj.has_next %}
    <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}" class="no-pad"><i class="material-icons nnt-purple">chevron_right</i></a></li>
    {% else %}
    <li class="disabled"><i class="material-icons grey-text">chevron_right</i></li>
    {% endif %}
</ul>
{% endif %}