{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}
{% load static %}
{% load paginator from filters %}
{% load to_class_name from filters %}

{% block title %}Rigboard Activity Stream{% endblock %}

{% block js %}
    <script src="{% static "js/tooltip.js" %}"></script>
    <script src="{% static "js/popover.js" %}"></script>
    <script src="{% static "js/moment.min.js" %}"></script>
    <script>
    	$(function () {
		  $('[data-toggle="popover"]').popover().click(function(){
        if($(this).attr('href')){
          window.location.href = $(this).attr('href');
        }
      });

          // This keeps timeago values correct, but uses an insane amount of resources
          // $(function () {
          //     setInterval(function() {
          //         $('.date').each(function (index, dateElem) {
          //           var $dateElem = $(dateElem);
          //           var formatted = moment($dateElem.attr('data-date')).fromNow();
          //           $dateElem.text(formatted);
          //          })
          //        });
          //     }, 10000);


            $('.date').each(function (index, dateElem) {
                var $dateElem = $(dateElem);
                var formatted = moment($dateElem.attr('data-date')).fromNow();
                $dateElem.text(formatted);
               });
             

		})

    </script>
{% endblock %}

{% block content %}
<div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <h3>Rigboard Activity Stream</h3>
            </div>
            <div class="text-right col-sm-12">{% paginator %}</div>
        </div>
        <div class="table-responsive">

        	<table class="table table-striped">
                <thead>
                <tr>
                    <td>Date</td>
                    <td>Object</td>
                    <td>Version ID</td>
                    <td>User</td>
                    <td>Changes</td>
                </tr>
                </thead>
                <tbody>
                	{% for version in object_list %}
                        
                            <tr>
                                <td>{{ version.revision.date_created }}</td>
                                <td><a href="{{ version.current.get_absolute_url }}">{{version.current|to_class_name}} {{ version.new.pk|stringformat:"05d" }}</a></td>
                           		<td>{{ version.version.pk }}|{{ version.revision.pk }}</td>
                                <td>{{ version.revision.user.name }}</td>
                                <td>
                                  {% if version.old == None %}
                                    Object Created
                                  {% else %}
                                    {% include 'RIGS/version_changes.html' %}
                                  {% endif %}                        </td>
                            </tr>
                        
        			{% endfor %}

                </tbody>
            </table>

        </div>
        <div class="align-right">{% paginator %}</div>
    </div>




    <div>
        <br>
    <h2>Rigboard Activity Stream - Scrollable Stream View <br/><small>Possibly to go on homepage</small></h2>
    <br>
    <div style="
    max-height: 500px;
    max-width: 300px;
    overflow-y:scroll;
    border:1px solid black;">
{% for version in object_list %}
    {% if version.item_changes or version.field_changes or version.old == None %}
        <div class="well">
            {% include 'RIGS/profile_button.html' with profile=version.revision.user %}

            {% if version.old == None %}
              created
            {% else %}
              changed {% include 'RIGS/version_changes.html' %} in
            {% endif %}
            {% include 'RIGS/object_button.html' with object=version.current %}

        </div>
    {% endif %}
{% endfor %}    
</div>

    </div>

{% endblock %}