{% load static %}

{% block js %}
<script src="{% static "js/tooltip.js" %}"></script>
<script src="{% static "js/popover.js" %}"></script>
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/moment-twitter.js" %}"></script>
<script>
	$(function () {
  $('[data-toggle="popover"]').popover().click(function(){
    if($(this).attr('href')){
      window.location.href = $(this).attr('href');
    }
  });

      // This keeps timeago values correct, but uses an insane amount of resources
      // $(function () {
      //     setInterval(function() {
      //         $('.date').each(function (index, dateElem) {
      //           var $dateElem = $(dateElem);
      //           var formatted = moment($dateElem.attr('data-date')).fromNow();
      //           $dateElem.text(formatted);
      //          })
      //        });
      //     }, 10000);
        moment().twitter();

        $('.date').each(function (index, dateElem) {
            var $dateElem = $(dateElem);
            var formatted = moment($dateElem.attr('data-date'),"DD/MM/YYYY HH:mm").twitterLong();
            $dateElem.text(formatted);
           });
         

})
  $(document).ready(function() {
    $(function () {
        $( "#activity" ).load( "{% url 'activity_feed' %}", function() {
          $('#activity [data-toggle="popover"]').popover()
        });
    });
  });
</script>
{% endblock %}

    <div class="list-group">
      <div class="list-group-item" style="background-color: #eee;">
          <h4 class="list-group-item-heading" style="margin:0;">Recent Changes</h4>
      </div>
      
      <div id="activity">&nbsp;</div> 
      
      <div class="list-group-item" style="background-color: #eee;">&nbsp;</div>
    </div>

