<div class="btn-group btn-page">
    <a href="{% url 'event_update' event.pk %}" class="btn btn-default"><span
            class="glyphicon glyphicon-edit"></span> <span
            class="hidden-xs">Edit</span></a>
    {% if event.is_rig %}
        {% if not event.dry_hire %}
            <a href="{% url 'event_ra' event.pk %}" class="btn btn-default
                {% if event.risk_assessment_edit_url %}
                    btn-success
                {% else %}
                    btn-warning
                {% endif %}
            "><span
                class="glyphicon glyphicon-paperclip"></span> <span
                class="hidden-xs">RA</span></a>
        {% endif %}
        <a href="{% url 'event_print' event.pk %}" target="_blank" class="btn btn-default"><span
                class="glyphicon glyphicon-print"></span> <span
                class="hidden-xs">Print</span></a>
    {% endif %}
    <a href="{% url 'event_duplicate' event.pk %}" class="btn btn-default" title="Duplicate Rig"><span
            class="glyphicon glyphicon-duplicate"></span> <span
            class="hidden-xs">Duplicate</span></a>
    {% if event.is_rig %}
        {% if event.internal %}
            <a class="btn btn-default item-add modal-href event-authorise-request
                    {% if event.authorised %}
                        btn-success
                    {% elif event.authorisation and event.authorisation.amount != event.total and event.authorisation.last_edited_at > event.auth_request_at %}
                        btn-warning
                    {% elif event.auth_request_to %}
                        btn-info
                    {% endif %}
                    "
               href="{% url 'event_authorise_request' object.pk %}">
                <span class="glyphicon glyphicon-send"></span>
                <span class="hidden-xs">
                    {% if event.authorised %}
                        Authorised
                    {% elif event.authorisation and event.authorisation.amount != event.total and event.authorisation.last_edited_at > event.auth_request_at %}
                        Authorisation Issue
                    {% elif event.auth_request_to %}
                        Awaiting Authorisation
                    {% else %}
                        Request Authorisation
                    {% endif %}
                </span>
            </a>
        {% endif %}

        {% if perms.RIGS.add_invoice %}
            <a id="invoiceDropdownLabel" href="{% url 'invoice_event' event.pk %}" class="btn
                        {% if event.invoice and event.invoice.is_closed %}
                            btn-success
                        {% elif event.invoice %}
                            btn-warning
                        {% else %}
                            btn-danger
                        {% endif %}
                        " title="Invoice Rig"><span
                    class="glyphicon glyphicon-gbp"></span>
                <span class="hidden-xs">Invoice</span></a>
        {% endif %}
    {% endif %}
</div>
