{% extends 'base_embed.html' %}
{% load static from staticfiles %}

{% block content %}

    <style>
        .source{
            background: url({% static "imgs/pyrigs-avatar.png" %}) no-repeat;
            background-size: 16px 16px;
            padding-left: 20px;
        }

    </style>

    <div class="row">
        <div class="col-sm-12">
            <span class="source"> R<small>ig</small> I<small>nformation</small> G<small>athering</small> S<small>ystem</small></span> 
        </div>

        <div class="col-sm-12">
           <span class="pull-right">

                {% if object.mic %}
                    <div class="text-center">
                            {{ object.mic.initials }}<br/>
                            <img src="{{ object.mic.profile_picture }}" class="event-mic-photo"/>
                    </div>
                {% elif object.is_rig %}
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                {% endif %}
                </span>
            <h3>
                
                    
                    <a {% if perms.RIGS.view_event %}href="{% url 'event_detail' object.pk %}" target="_top"{% endif %}>
                        {% if object.is_rig %}N{{ object.pk|stringformat:"05d" }}{% else %}{{ object.pk }}{% endif %}
                    | {{ object.name }} </a>
                    {% if object.venue %}
                        <small>at {{ object.venue }}</small>
                    {% endif %}



                </h3>

                <p>
                    <strong>{{ object.start_date|date:"D d/m/Y" }}</strong>
                    {% if object.end_date and object.end_date != object.start_date %}
                        &ndash; <strong>{{ object.end_date|date:"D d/m/Y"  }}</strong>
                    {% endif %}
                <span class="text-muted">({{ object.get_status_display }})</span>
                </p>

                {% if object.is_rig %}
                    <h5>
                        {{ object.person.name }}
                        {% if object.organisation %}
                            for {{ object.organisation.name }}
                        {% endif %}
                        {% if object.dry_hire %}</a><span class="badge">Dry Hire</span>{% endif %}
                    </h5>
                {% endif %}

            
                <table class="table">
                    {% if object.mic %}
                    <tr>
                        <th>MIC</th>
                        <td>{{object.mic.name}}</td>
                    </tr>
                    {% endif %}
                    {% if object.description %}
                    <tr>
                        <th>Description</th>
                        <td>{{ object.description|linebreaksbr }}</td>
                    </tr>
                    {% endif %}
                    {% if object.meet_at %}
                    <tr>
                        <th>Crew meet</th>
                        <td>{{ object.meet_at|date:"H:i" }} {{ object.meet_at|date:"(Y-m-d)" }}</td>
                    </tr>
                    {% endif %}
                    {% if object.access_at %}
                    <tr>
                        <th>Access at</th>
                        <td>{{ object.access_at|date:"H:i" }} {{ object.access_at|date:"(Y-m-d)" }}</td>
                    </tr>
                    {% endif %}
                    {% if object.has_start_time %}
                    <tr>
                        <th>Event starts</th>
                        <td>
                            {{ object.start_time|date:"H:i" }}
                            {{ object.start_date|date:"(Y-m-d)" }}<br/>
                        </td>
                    </tr>
                    {% endif %}
                    {% if object.has_end_time%}{% if object.start_date != object.end_date or object.start_time != object.end_time %}
                    <tr>
                        <th>Event ends</th>
                        <td>
                            {{ object.end_time|date:"H:i" }}
                            {{ object.end_date|date:"(Y-m-d)" }}
                        </td>
                    </tr>
                    {% endif %}{% endif %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}