{% extends 'base.html' %}
{% block title %}Event {% if object.is_rig %}N{{ object.pk|stringformat:"05d" }}{% else %}{{ object.pk }}
{% endif %}{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div class="col-sm-8">
            <h1>Event {% if object.is_rig %}N{{ object.pk|stringformat:"05d" }}{% else %}{{ object.pk }}{% endif %}</h1>
        </div>
        <div class="col-sm-4 text-right">
            <div class="btn-group btn-page">
                <a href="{% url 'event_update' event.pk %}" class="btn btn-default"><span
                        class="glyphicon glyphicon-edit"></span></a>
                {% if event.is_rig %}
                    <a href="{% url 'event_print' event.pk %}" class="btn btn-default"><span
                            class="glyphicon glyphicon-print"></span></a>
                {% endif %}
                <a href="{% url 'event_duplicate' event.pk %}" class="btn btn-default" title="Duplicate Rig"><span
                        class="glyphicon glyphicon-duplicate"></span></a>
                {% if event.is_rig %}
                    {% if perms.RIGS.add_invoice %}
                        <a href="{% url 'invoice_event' event.pk %}" class="btn btn-default" title="Invoice Rig"><span
                                class="glyphicon glyphicon-gbp"></span></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    {% if object.is_rig %}
        {# only need contact details for a rig #}
        <div class="col-sm-12 col-md-6 col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">Contact Details</div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Person</dt>
                        <dd>{{ object.person.name }}</dd>

                        <dt>Email</dt>
                        <dd>{{ object.person.email }}</dd>

                        <dt>Phone Number</dt>
                        <dd>{{ object.person.phone }}</dd>
                    </dl>
                </div>
            </div>
            {% if event.organisation %}
                <div class="panel panel-default">
                    <div class="panel-heading">Organisation</div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Organisation</dt>
                            <dd>{{ object.organisation.name }}</dd>

                            <dt>Phone Number</dt>
                            <dd>{{ object.organisation.phone }}</dd>

                            <dt>Has SU Account</dt>
                            <dd>{{ event.organisation.union_account|yesno|capfirst }}</dd>
                        </dl>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div class="col-sm-12 {% if event.is_rig %}col-md-6 col-lg-7{% endif %}">
        <div class="panel panel-info">
            <div class="panel-heading">{{ object.name }}</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Event Venue</dt>
                    <dd>{{ object.venue }}</dd>

                    {% if event.is_rig %}
                        <dt>Event MIC</dt>
                        <dd>{{ event.mic.name }}</dd>
                    {% endif %}

                    <dt>Status</dt>
                    <dd>{{ event.get_status_display }}</dd>

                    <dd>&nbsp;</dd>

                    {% if event.is_rig %}
                        <dt>Crew Meet</dt>
                        <dd>{{ event.meet_at|date:"d M Y H:i"|default:"" }}</dd>
                        <dd>{{ event.meet_info|default:"" }}</dd>

                        <dt>Access From</dt>
                        <dd>{{ event.access_at|date:"d M Y H:i"|default:"" }}</dd>
                    {% endif %}

                    <dt>Event Starts</dt>
                    <dd>{{ event.start_date|date:"d M Y" }} {{ event.start_time|date:"H:i" }}</dd>

                    <dt>Event Ends</dt>
                    <dd>{{ event.end_date|date:"d M Y" }} {{ event.end_time|date:"H:i" }}</dd>

                    <dd>&nbsp;</dd>

                    <dt>Event Description</dt>
                    <dd>{{ event.description|linebreaksbr }}</dd>

                    <dd>&nbsp;</dd>

                    <dt>Based On</dt>
                    <dd>
                        {% if object.based_on %}
                            <a href="{% url 'event_detail' pk=object.based_on.pk %}">
                                {% if object.based_on.is_rig %}N{{ object.based_on.pk|stringformat:"05d" }}{% else %}
                                    {{ object.based_on.pk }}{% endif %}
                                {{ object.base_on.name }} by {{ object.based_on.mic.name }}
                            </a>
                        {% endif %}
                    </dd>

                    {% if event.dry_hire %}
                        <dt>Checked In By</dt>
                        <dd>{{ object.checked_in_by.name }}</dd>
                    {% endif %}

                    {% if event.is_rig %}
                        <dt>Collected By</dt>
                        <dd>{{ object.collector }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>
    <div class="col-sm-12 text-right">
        <div class="btn-group btn-page">
            <a href="{% url 'event_update' event.pk %}" class="btn btn-default"><span
                    class="glyphicon glyphicon-edit"></span></a>
            {% if event.is_rig %}
                <a href="{% url 'event_print' event.pk %}" class="btn btn-default"><span
                        class="glyphicon glyphicon-print"></span></a>
            {% endif %}
            <a href="{% url 'event_duplicate' event.pk %}" class="btn btn-default" title="Duplicate Rig"><span
                    class="glyphicon glyphicon-duplicate"></span></a>
            {% if event.is_rig %}
                {% if perms.RIGS.add_invoice %}
                    <a href="{% url 'invoice_event' event.pk %}" class="btn btn-default" title="Invoice Rig"><span
                            class="glyphicon glyphicon-gbp"></span></a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% if event.is_rig %}
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Event Details</div>
                <div class="panel-body">
                    <div class="well well-sm">
                        <h4>Notes</h4>
                        {{ event.notes|linebreaksbr }}
                    </div>
                    {% include 'RIGS/item_table.html' %}
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-right">
            <div class="btn-group btn-page">
                <a href="{% url 'event_update' event.pk %}" class="btn btn-default"><span
                        class="glyphicon glyphicon-edit"></span></a>
                <a href="{% url 'event_print' event.pk %}" class="btn btn-default"><span
                        class="glyphicon glyphicon-print"></span></a>
                <a href="{% url 'event_duplicate' event.pk %}" class="btn btn-default" title="Duplicate Rig"><span
                        class="glyphicon glyphicon-duplicate"></span></a>
                {% if perms.RIGS.add_invoice %}
                    <a href="{% url 'invoice_event' event.pk %}" class="btn btn-default" title="Invoice Rig"><span
                            class="glyphicon glyphicon-gbp"></span></a>
                {% endif %}
            </div>
            <div>Last edited at {{ object.last_edited_at|date:"SHORT_DATETIME_FORMAT" }}
                by {{ object.last_edited_by.name }}.
            </div>
        </div>
    {% endif %}
{% endblock %}
