{% extends 'base_client_email.html' %}

{% block content %}
    <p>Hi {{ to_name|default:"there" }},</p>

    <p>
        Your event <b>N{{ object.event.pk|stringformat:"05d" }}</b> has been successfully authorised
        for <b>&pound;{{ object.amount }}</b>
        by <b>{{ object.name }}</b> as of <b>{{ object.event.last_edited_at }}</b>.
    </p>

    <p>
        {% if object.event.organisation and object.event.organisation.union_account %}{# internal #}
            Your event is now fully booked and payment will be processed by the finance department automatically.
            {% else %}{# external #}
            Your event is now fully booked and our finance department will be contact to arrange payment.
        {% endif %}
    </p>

    <p>TEC PA &amp; Lighting</p>
{% endblock %}
