<script>
  $(document).ready(function() {
    $('#search-options li a').click(function() {
      $('#searchForm').attr('action', $(this).data('action')).submit();
    });
    $('#id_search_input').keypress(function(e) {
      if (e.which == 13) {
        $('#searchForm').attr('action', $('#search-options li a').first().data('action')).submit();
        return false;
      }
    });

  });
</script>
<form id="searchForm" class="form {{form_class}}" role="form" method="GET">
  <div class="input-group">
    <input id="id_search_input" type="search" name="q" class="form-control" placeholder="Search Phrase" />
    <span class="input-group-btn">
      <div class="btn-group" role="group">
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-search"></span> <span class="caret"></button>
           <ul id="search-options" class="dropdown-menu">
            <li><a data-action="{% url 'event_archive' %}" href="#">Events</a></li>
            <li><a data-action="{% url 'person_list' %}" href="#">People</a></li>
            <li><a data-action="{% url 'organisation_list' %}" href="#">Organisations</a></li>
            <li><a data-action="{% url 'venue_list' %}" href="#">Venues</a></li>
            {% if perms.RIGS.view_invoice %}
            <li><a data-action="{% url 'invoice_archive' %}" href="#">Invoices</a></li>
            {% endif %}
          </ul>
      </div>
    </span>
  </div>
</form>
