{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}
{% load widget_tweaks %}
{% load paginator from filters %}

{% block title %}People list{% endblock %}

{% block content %}
    <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
            <div class="col-sm-10">
                <h3>People</h3>
            </div>
            <div class="col-sm-2">
                <a href="{% url 'person_add' %}" class="btn btn-default pull-right">New <span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
        <div class="pull-right">{% paginator %}</div>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td></td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Phone</td>
                    <td>Notes</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for person in person_list %}
                    <tr>
                        <td>{{ person.pk }}</td>
                        <td>{{ person.name }}</td>
                        <td>{{ person.email }}</td>
                        <td>{{ person.phone }}</td>
                        <td>{{ person.notes|yesno|capfirst }}</td>
                        <td>
                            <a href="{% url 'person_detail' person.pk %}" class="btn btn-default modal-href">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            <a href="{% url 'person_update' person.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td></td>
                        <td colspan="5">No people stored</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="align-right">{% paginator %}</div>
    </div>
{% endblock %}