{# pass in variable "profile" to this template #}

<button title="{{ profile.name }}" type="button" class="btn btn-default btn-xs" data-container="body" data-html="true"
        data-trigger='hover focus' data-toggle="popover" data-content='
<img src="{{ profile.profile_picture }}" class="img-responsive img-rounded center-block" style="max-width:4em" />
        <dl class="dl-vertical">
			<dt>Email</dt>
			<dd>{{ profile.email }}</dd>

			<dt>Phone</dt>
			<dd>{{ profile.phone }}</dd>
		</dl>
        '>{{ profile.first_name }}</button>
