{% extends 'base.html' %}

{% block title %}RIGS Profile {{object.pk}}{% endblock %}

{% block content %}
<div class="col-md-10 col-md-offset-1">
	
	<div class="col-sm-12">
	
	<div class="col-sm-6">
		<h3>{{object.name}}</h3>
	</div>
	{% if object.pk == user.pk %}
	<div class="col-sm-6 text-right">
	    <div class="btn-group btn-page">
	        <a href="{% url 'profile_update_self' %}" class="btn btn-default">
				Edit Profile <span class="glyphicon glyphicon-pencil"></span>
			</a>
			<a href="{% url 'password_change' %}" class="btn btn-default">
				Change Password <span class="glyphicon glyphicon-lock"></span>
			</a>
	    </div>
	</div>
	{% endif %}

	</div>

	<div class="col-sm-6">
		<dl class="dl-horizontal">
			<dt>First Name</dt>
			<dd>{{object.first_name}}</dd>

			<dt>Last Name</dt>
			<dd>{{object.last_name}}</dd>

			<dt>Email</dt>
			<dd>{{object.email}}</dd>

			<dt>Last Login</dt>
			<dd>{{object.last_login}}</dd>

			<dt>Date Joined</dt>
			<dd>{{object.date_joined}}</dd>

			<dt>Initials</dt>
			<dd>{{object.initials}}</dd>

			<dt>Phone</dt>
			<dd>{{object.phone}}</dd>
		</dl>
	</div>
	<div class="col-sm-3 col-sm-offset-2">
		<div class="center-block">
			<img src="{{object.profile_picture}}" class="img-responsive img-rounded" />
	</div>
</div>
{% endblock %}