{% extends 'base.html' %}

{% block title %}Rigboard{% endblock %}

{% block content %}
    <div id="rigboard" class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-10">
                    <h3>Rigboard</h3>
                </div> 
                {% if perms.RIGS.add_event %}
                <div class="col-sm-2">
                    <a href="{% url 'event_create' %}" class="btn btn-default pull-right">New <span
                            class="glyphicon glyphicon-plus"></span></a>
                </div>
                {% endif %}
                
                {% comment %}
                {# Bring search back at a later date #}
                <div class="col-sm-3 col-sm-offset-9">
                    <form class="form form-horizontal col-sm-12">
                        <div class="form-group">
                            <input type="search" name="q" placeholder="Search" value="{{ request.GET.q }}"
                                   class="form-control"/>
                        </div>
                    </form>
                </div>
                {% endcomment %}
            </div>
            {# .row #}

            {% include 'RIGS/event_table.html' %}
        </div>
    </div>
{% endblock %}
