{% for change in version.field_changes %}

	<button title="Changes to {{ change.field.verbose_name }}" type="button" class="btn btn-default btn-xs" data-container="body" data-html="true" data-trigger='hover' data-toggle="popover" data-content='

    	{% if change.new %}<div class="alert alert-success">{{change.new}}</div>{% endif %}
    	{% if change.old %}<div class="alert alert-danger">{{change.old}}</div>{% endif %}
    	
        '>{{ change.field.verbose_name }}</button>

{% endfor %}

{% for itemChange in version.item_changes %}
    <button title="Changes to item '{% if itemChange.new %}{{ itemChange.new.name }}{% else %}{{ itemChange.old.name }}{% endif %}'" type="button" class="btn btn-default btn-xs" data-container="body" data-html="true" data-trigger='hover' data-toggle="popover" data-content='
        {% for change in itemChange.changes %}
            <h4>{{ change.field.verbose_name }}</h4>

            {% if change.new %}<div class="alert alert-success">{{change.new}}</div>{% endif %}
            {% if change.old %}<div class="alert alert-danger">{{change.old}}</div>{% endif %}

        {% endfor %}
        
        '>item '{% if itemChange.new %}{{ itemChange.new.name }}{% else %}{{ itemChange.old.name }}{% endif %}'</button>
{% endfor %}