<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-5">
        <div class="card card-default">
            <div class="card-header">Contact Details</div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>Person</dt>
                    <dd>
                        {% if event.person %}
                            {{ event.person.name }}
                        {% endif %}
                    </dd>

                    <dt>Email</dt>
                    <dd>
                        <span class="overflow-ellipsis">{{ event.person.email }}</span>
                    </dd>

                    <dt>Phone Number</dt>
                    <dd>{{ event.person.phone }}</dd>
                </dl>
            </div>
        </div>
        {% if event.organisation %}
            <div class="card card-default">
                <div class="card-header">Organisation</div>
                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>Organisation</dt>
                        <dd>
                            {{ event.organisation.name }}
                        </dd>

                        <dt>Phone Number</dt>
                        <dd>{{ object.organisation.phone }}</dd>
                    </dl>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="col-sm-12 col-md-6 col-lg-7">
        <div class="card card-info">
            <div class="card-header">Event Info</div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>Event Venue</dt>
                    <dd>
                        {% if object.venue %}
                            <a href="{% url 'venue_detail' object.venue.pk %}" class="modal-href">
                                {{ object.venue }}
                            </a>
                        {% endif %}
                    </dd>

                    <dt>Status</dt>
                    <dd>{{ event.get_status_display }}</dd>

                    <dd>&nbsp;</dd>

                    <dt>Access From</dt>
                    <dd>{{ event.access_at|date:"D d M Y H:i"|default:"" }}</dd>

                    <dt>Event Starts</dt>
                    <dd>{{ event.start_date|date:"D d M Y" }} {{ event.start_time|date:"H:i" }}</dd>

                    <dt>Event Ends</dt>
                    <dd>{{ event.end_date|date:"D d M Y" }} {{ event.end_time|date:"H:i" }}</dd>

                    <dd>&nbsp;</dd>

                    <dt>Event Description</dt>
                    <dd>{{ event.description|linebreaksbr }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
