{% extends request.is_ajax|yesno:"base_ajax.html,base_rigs.html" %}
{% block title %}Risk Assessment for Event N{{ object.event.pk|stringformat:"05d" }} {{ object.event.name }}{% endblock %}
{% load help_text from filters %}

{% block content %}
<div class="row my-3 py-3">
    <div class="col-sm-12">
            <h3>Event Checklist for Event N{{ object.event.pk|stringformat:"05d" }} {{ object.event.name }}</h3>
            <div class="row">
                <div class="col-12 text-right">
                    <a href="{% url 'ec_edit' object.pk %}" class="btn btn-warning my-3"><span class="fas fa-edit"></span> <span
                        class="hidden-xs">Edit</span></a>
                </div>
            </div>
            <div class="card card-default mb-3">
                <div class="card-header">General</div>
                <div class="card-body">
                    <dl class="row">
                    </dl>
                </div>
            </div>
            <div class="card card-default mb-3">
                <div class="card-header">Power</div>
                <div class="card-body">
                    <dl class="row">
                    </dl>
                </div>
            </div>
            <div class="card card-default mb-3">
                <div class="card-header">Sound</div>
                <div class="card-body">
                    <dl class="row">
                    </dl>
                </div>
            </div>
            <div class="card card-default mb-3">
                <div class="card-header">Site Details</div>
                <div class="card-body">
                    <dl class="row">
                    </dl>
                </div>
            </div>
            <div class="card card-default mb-3">
                <div class="card-header">Structures</div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 text-right">
        <a href="{% url 'ec_edit' object.pk %}" class="btn btn-warning my-3"><span class="fas fa-edit"></span> <span
            class="hidden-xs">Edit</span></a>
    </div>
    <div class="col-12 text-right">
        {% include 'partials/last_edited.html' with target="ec_history" %}
    </div>
</div>
{% endblock %}
