{% extends 'base_client_email.html' %}

{% block content %}
    
    <p>Hi {{ to_name|default:"there" }},</p>

    <p><b>{{ request.user.get_full_name }}</b> has requested that you authorise <b>N{{ object.pk|stringformat:"05d" }}
        | {{ object.name }}</b>{% if not to_name %} on behalf of <b>{{ object.person.name }}</b>{% endif %}.</p>

    <p>
        Please find the link below to complete the event booking process.
        {% if object.event.organisation and object.event.organisation.union_account %}{# internal #}
            Remember that only Presidents or Treasurers are allowed to sign off payments. You may need to forward
            this
            email on.
        {% endif %}
    </p>


    <table class="button-container" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center">
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="button" align="center">
                  <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'event_authorise' object.pk hmac %}">
                      Complete Authorisation Form
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>


    <p>Your event will not be booked until you complete this form.</p>

    <p>TEC PA &amp; Lighting</p>
    <br/>

{% endblock %}
