{% extends 'base_rigs.html' %}
{% load paginator from filters %}
{% load help_text from filters %}
{% load verbose_name from filters %}

{% block title %}Event Checklist List{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2>Event Checklist List</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Event</th>
                            {# mmm hax #}
                            {% if object_list.0 %}
                                <th scope="col" class="">{{ object_list.0|verbose_name:'power_mic'|title }}</th>
                                <th scope="col">{{ object_list.0|verbose_name:'vehicles'|title }}</th>
                                <th scope="col">{{ object_list.0|verbose_name:'safe_parking'|title }}</th>
                                <th scope="col">{{ object_list.0|verbose_name:'safe_packing'|title }}</th>
                                <th scope="col">{{ object_list.0|verbose_name:'exits'|title }}</th>
                                <th scope="col">{{ object_list.0|verbose_name:'trip_hazard'|title }}</th>
                                <th scope="col">{{ object_list.0|verbose_name:'warning_signs'|title }}</th>
                                <th scope="col">{{ object_list.0|verbose_name:'ear_plugs'|title }}</th>
                                <th scope="col">{{ object_list.0|verbose_name:'hs_location'|title }}</th>
                                <th scope="col">{{ object_list.0|verbose_name:'extinguishers_location'|title }}</th>
                                <th scope="col">{{ object_list.0|verbose_name:'rcds'|title }}</th>
                                <th scope="col">{{ object_list.0|verbose_name:'supply_test'|title }}</th>
                                <th scope="col">{{ object_list.0|verbose_name:'earthing'|title }}</th>
                                <th scope="col">{{ object_list.0|verbose_name:'pat'|title }}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                    <tr>
                        {# General #}
                        <th scope="row" class="{% if object.reviewed_by %}bg-success{%endif%}"><a href="{% url 'event_detail' object.event.pk %}">N{{ object.event.pk|stringformat:"05d" }} {{ object.event.name }}</a></th>
                        <td>{{object.power_mic.name}}</td>
                        {# Buttons #}
                        <td>
                            <a class="btn btn-primary" href="{% url 'ra_detail' object.pk %}">View</a>
                            {{ object.review_string|safe }}
                        </td>
                    </tr>
                    {% empty %}
                    <tr class="bg-warning text-dark">
                        <td colspan="6">No checklists found</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if is_paginated %}
        <div class="row justify-content-center">
                {% paginator %}
        </div>
    {% endif %}
{% endblock %}
