{% extends 'base_client.html' %}
{% load widget_tweaks %}
{% load static %}

{% block js %}
    <script>
        document.querySelectorAll('form').forEach(function (form) {
            form.addEventListener('submit', function () {
                var loading = document.getElementById('loading-modal');
                if (loading) {
                    bootstrap.Modal.getOrCreateInstance(loading, {backdrop: 'static'}).show();
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row my-3">
        {% include 'partials/client_eventdetails.html' %}
    </div>

    <div class="row mb-3">
        <div class="col-sm-12">
            <div class="card">
            {% with object=event auth=True %}
                {% include 'partials/item_table.html' %}
            {% endwith %}
            </div>
        </div>
    </div>

    {% block authorisation %}
    {% endblock %}
{% endblock %}
