<div class="btn-group py-3">
    <a href="{% url 'event_update' event.pk %}" class="btn btn-warning"><span
            class="fas fa-edit"></span> <span
            class="hidden-xs">Edit</span></a>
    {% if event.is_rig %}
        <a href="{% url 'event_print' event.pk %}" target="_blank" class="btn btn-primary"><i
                class="fas fa-print"></i> <span
                class="hidden-xs">Print</span></a>
    {% endif %}
    <a href="{% url 'event_duplicate' event.pk %}" class="btn btn-info" title="Duplicate Rig"><span
            class="fas fa-copy"></span> <span
            class="hidden-xs">Duplicate</span></a>
    {% if event.is_rig %}
        {% if event.internal %}
            <a class="btn item-add modal-href event-authorise-request
                    {% if event.authorised %}
                        btn-success
                    {% elif event.authorisation and event.authorisation.amount != event.total and event.authorisation.last_edited_at > event.auth_request_at %}
                        btn-warning
                    {% elif event.auth_request_to %}
                        btn-info
                    {% else %}
                        btn-secondary
                    {% endif %}
                    "
               href="{% url 'event_authorise_request' object.pk %}">
                <i class="fas fa-paper-plane"></i>
                <span class="hidden-xs">
                    {% if event.authorised %}
                        Authorised
                    {% elif event.authorisation and event.authorisation.amount != event.total and event.authorisation.last_edited_at > event.auth_request_at %}
                        Authorisation Issue
                    {% elif event.auth_request_to %}
                        Awaiting Authorisation
                    {% else %}
                        Request Authorisation
                    {% endif %}
                </span>
            </a>
        {% endif %}

        {% if perms.RIGS.add_invoice %}
            <a id="invoiceDropdownLabel" href="{% url 'invoice_event' event.pk %}" class="btn
                        {% if event.invoice and event.invoice.is_closed %}
                            btn-success
                        {% elif event.invoice %}
                            btn-warning
                        {% else %}
                            btn-danger
                        {% endif %}
                        " title="Invoice Rig"><span
                    class="fas fa-pound-sign"></span>
                <span class="hidden-xs">Invoice</span></a>
        {% endif %}
    {% endif %}
</div>
