{% extends 'base_rigs.html' %}

{% block title %}Delete payment on invoice {{ object.invoice.pk }}{% endblock %}

{% block content %}
    <div class="col-sm-offset-2 col-sm-8">
        <div class="alert alert-danger" role="alert">
            <h2>Delete invoice {{ object.pk }}</h2>

            <p>Are you sure you wish to delete invoice {{ object.pk }}?</p>

            <p class="text-center"><strong>This action cannot be undone!</strong></p>

            <div class="row">
                <div class="col-sm-12">
                    <form action="{{ action_link }}" method="post">{% csrf_token %}
                        <input type="hidden" name="next" value="{% url 'invoice_list' %}"/>
                        <a href="{% url 'invoice_detail' object.pk %}" class="btn btn-default col-sm-1">No</a>
                        <a href="{% url 'invoice_detail' object.pk %}" class="btn btn-default col-sm-1">No</a>
                        <a href="{% url 'invoice_detail' object.pk %}" class="btn btn-default col-sm-1">No</a>
                        <input type="submit" value="Yes" class="btn btn-danger col-sm-1"/>
                        <a href="{% url 'invoice_detail' object.pk %}" class="btn btn-default col-sm-1">No</a>
                        <a href="{% url 'invoice_detail' object.pk %}" class="btn btn-default col-sm-1">No</a>
                        <a href="{% url 'invoice_detail' object.pk %}" class="btn btn-default col-sm-1">No</a>
                        <a href="{% url 'invoice_detail' object.pk %}" class="btn btn-default col-sm-1">No</a>
                        <a href="{% url 'invoice_detail' object.pk %}" class="btn btn-default col-sm-1">No</a>
                        <a href="{% url 'invoice_detail' object.pk %}" class="btn btn-default col-sm-1">No</a>
                        <a href="{% url 'invoice_detail' object.pk %}" class="btn btn-default col-sm-1">No</a>
                        <a href="{% url 'invoice_detail' object.pk %}" class="btn btn-default col-sm-1">No</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}