
<tr id="item-{{item.pk}}" data-pk="{{item.pk}}" class="item_row">
	<td>
		<span class="name">{{ item.name }}</span>
        <div class="item-description">
            <em class="description">{{item.description|linebreaksbr}}</em>
        </div>
	</td>
    {% if perms.RIGS.view_event %}
	<td>£&nbsp;<span class="cost">{{item.cost|floatformat:2}}</span></td>
    {% endif %}
	<td class="quantity">{{item.quantity}}</td>
    {% if perms.RIGS.view_event %}
	<td>£&nbsp;<span class="sub-total" data-subtotal="{{item.total_cost}}">{{item.total_cost|floatformat:2}}</span></td>
    {% endif %}
	{% if edit %}
	<td class="vert-align text-right">
		<button type="button" class="item-edit btn btn-xs btn-default"
				data-pk="{{item.pk}}"
				data-toggle="modal" data-target="#itemModal">
			<span class="fas fa-edit"></span>
		</button>
		<button type="button" class="item-delete btn btn-xs btn-danger"
				data-pk="{{item.pk}}">
			<span class="fas fa-remove"></span>
		</button>
	</td>
	{% endif %}
</tr>
