 {% extends request.is_ajax|yesno:"base_ajax.html,base_rigs.html" %}
{% load widget_tweaks %}

{% block title %}Organisation | {{ object.name }}{% endblock %}

{% block content %}
    <div class="row">
        {% if not request.is_ajax %}
        <div class="col-sm-12">
            <h1>Organisation | {{ object.name }}</h1>
        </div>
        {% endif %}
        <div class="col-sm">
            <div class="card bg-info">
                <div class="card-header">Organisation Details</div>
                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>Name</dt>
                        <dd>{{ object.name }}</dd>

                        <dt>Phone</dt>
                        <dd><a href="tel:{{ object.phone }}">{{ object.phone }}</a></dd>

                        <dt>Email</dt>
                        <dd><a href="mailto:{{ object.email }}"><span class="overflow-ellipsis">{{ object.email }}</span></a></dd>

                        <dt>Address</dt>
                        <dd>{{ object.address|linebreaksbr }}</dd>

                        <dt>Notes</dt>
                        <dd>{{ object.notes|linebreaksbr }}</dd>

                        <dt>Union Account</dt>
                        <dd>{{ object.union_account|yesno|capfirst }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-header">Associated People</div>
                <div class="card-body">
                    <div class="list-group">
                        {% for person,count in object.persons %}
                            <a class="list-group-item" href="{% url 'person_detail' person.pk %}">{{ person.pk|stringformat:"05d" }} | {{ person.name }} <span class="badge" title="{{count}} events with {{person.name}} for {{object.name}}">{{count}}</span></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Associated Events</div>
                {% with object.latest_events as events %}
                    {% include 'event_table.html' %}
                {% endwith %}
            </div>
        </div>
    </div>


    {% if not request.is_ajax %}
        <div class="row">
            <div class="col-sm-12 text-right">
                <div class="btn-group">
                    <a href="{% url 'organisation_update' object.pk %}" class="btn btn-default"><span
                        class="fas fa-edit"></span> Edit</a>
                </div>
                {% include 'partials/last_edited.html' with target="organisation_history" %}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% if request.is_ajax %}
    {% block footer %}
        <div class="row">
            <div class="col-sm-12 text-right">
                <div class="btn-group">
                    <a href="{% url 'organisation_detail' object.pk %}" class="btn btn-primary"><span
                        class="fas fa-eye"></span> Open Page</a>
                    <a href="{% url 'organisation_update' object.pk %}" class="btn btn-warning"><span
                        class="fas fa-edit"></span> Edit</a>
                </div>
                {% include 'partials/last_edited.html' with target="organisation_history" %}
            </div>
        </div>
    {% endblock %}
{% endif %}
