{% extends request.is_ajax|yesno:"base_ajax.html,base_rigs.html" %}
{% load widget_tweaks %}

{% block title %}Person | {{ object.name }}{% endblock %}

{% block content %}
    <div class="row my-3">
        {% if not request.is_ajax %}
            <div class="col-sm-12">
                <h1>Person | {{ object.name }}</h1>
            </div>

            <div class="col-sm-12 text-right">
                <div class="btn-group btn-page">
                    <a href="{% url 'person_update' object.pk %}" class="btn btn-light"><span
                        class="fas fa-edit"></span> Edit</a>
                </div>
            </div>
        {% endif %}
        <div class="col-sm">
            <div class="card border-info">
                <div class="card-header bg-info">Person Details</div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-6">Name</dt>
                        <dd>{{ object.name }}</dd>

                        <dt class="col-6">Phone</dt>
                        <dd><a href="tel:{{ object.phone }}">{{ object.phone }}</a></dd>

                        <dt class="col-6">Email</dt>
                        <dd><a href="mailto:{{ object.email }}"><span class="overflow-ellipsis">{{ object.email }}</span></a></dd>

                        <dt class="col-6">Address</dt>
                        <dd>{{ object.address|linebreaksbr }}</dd>

                        <dt class="col-12">Notes</dt>
                        <dd class="col-12">{{ object.notes|linebreaksbr }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-header">Associated Organisations</div>
                <ul class="list-group list-group-flush">
                    {% for organisation,count in object.organisations %}
                        <a class="list-group-item list-group-item-action" href="{% url 'organisation_detail' organisation.pk %}">{{ organisation.pk|stringformat:"05d" }} | {{ organisation.name }} <span class="badge badge-secondary" title="{{count}} events with {{object.name}} for {{organisation.name}}">{{count}}</span></a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Associated Events</div>
                {% with object.latest_events as events %}
                    {% include 'event_table.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
    {% if not request.is_ajax %}
        <div class="row">
            <div class="col-sm-12 text-right">
                <div class="btn-group btn-page">
                    <a href="{% url 'person_update' object.pk %}" class="btn btn-light"><span
                        class="fas fa-edit"></span> Edit</a>
                </div>
                {% include 'partials/last_edited.html' with target="person_history" %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% if request.is_ajax %}
    {% block footer %}
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group btn-page">
                <a href="{% url 'person_detail' object.pk %}" class="btn btn-primary"><span
                    class="fas fa-eye"></span> Open Page</a>
                <a href="{% url 'person_update' object.pk %}" class="btn btn-light"><span
                    class="fas fa-user-edit"></span> Edit</a>
            </div>
            {% include 'partials/last_edited.html' with target="person_history" %}
        </div>
    </div>
    {% endblock %}
{% endif %}
