{% extends 'base_rigs.html' %}

{% block title %}Rigboard{% endblock %}

{% block content %}
<h1>Rigboard</h1>

<div class="row align-items-center justify-content-between py-2">
    <div class="col-sm-12 col-md">
        Key: <span class="table-success mr-1 px-2">Ready</span><span class="table-warning mr-1 px-2">Action Required</span><span class="table-danger mr-1 px-2">Needs MIC</span><span class="table-secondary mr-1 px-2">Cancelled</span><span class="table-info px-2">Non-Rig</span>
    </div>

    <div class="col text-right">
        {% if perms.RIGS.add_event %}
        <a href="{% url 'event_create' %}" class="btn btn-success">New <i class="fas fa-plus"></i></a>
        {% endif %}
    </div>
</div>

{% include 'event_table.html' %}

{% endblock %}
