{% extends request.is_ajax|yesno:'base_ajax.html,base_rigs.html' %}
{% load widget_tweaks %}
{% load static %}
{% load help_text from filters %}

{% block title %}{% if edit %}Edit{% else %}Create{% endif %} Risk Assessment for Event N{{ event.pk|stringformat:"05d" }}{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/ajax-bootstrap-select.css' %}"/>
{% endblock %}

{% block preload_js %}
    {{ block.super }}
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/ajax-bootstrap-select.js' %}"></script>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery-ui.js' %}"></script><!--TODO optimise--->
    <script src="{% static 'js/interaction.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/tooltip.js' %}"></script>

    <script src="{% static 'js/autocompleter.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="col-sm-offset-1 col-sm-10">
        <h3>{% if edit %}Edit{% else %}Create{% endif %} Risk Assessment for Event N{{ event.pk|stringformat:"05d" }}</h3>
        {% include 'form_errors.html' %}
        {% if edit %}
        <form role="form" method="POST" action="{% url 'ra_edit' pk=object.pk %}">
        {% else %}
        <form role="form" method="POST" action="{% url 'event_ra' pk=event.pk %}">
        {% endif %}
            <input type="hidden" name="{{ form.event.name }}" id="{{ form.event.id_for_label }}"
               value="{{event.pk}}"/>
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">General</div>
                        <div class="card-body">
                            <p><strong>If the answer is yes to any of the below, you must consult a supervisor and make sure all activities planned to be undertaken are sufficiently covered by health and safety documentation</strong></p>
                            {% include 'partials/yes_no_radio.html' with formitem=form.nonstandard_equipment %}
                            {% include 'partials/yes_no_radio.html' with formitem=form.nonstandard_use %}
                            {% include 'partials/yes_no_radio.html' with formitem=form.contractors %}
                            {% include 'partials/yes_no_radio.html' with formitem=form.other_companies %}
                            {% include 'partials/yes_no_radio.html' with formitem=form.crew_fatigue %}

                            <label for="{{ form.general_notes.id_for_label }}">{{ form.general_notes.help_text }}</label>
                            {% render_field form.general_notes class+="form-control" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">Power</div>
                        <div class="card-body">
                            {% include 'partials/yes_no_radio.html' with formitem=form.big_power %}
                            <label for="{{ form.power_mic.id_for_label }}"
                                class="col-sm-8 control-label">{{ form.power_mic.help_text }}</label>
                            <div class="col-sm-8">
                                <select id="{{ form.power_mic.id_for_label }}" name="{{ form.power_mic.name }}" class="form-control selectpicker" data-live-search="true" data-sourceurl="{% url 'api_secure' model='profile' %}?fields=first_name,last_name,initials">
                                    {% if object.power_mic %}
                                        <option value="{{object.power_mic.pk}}" selected="selected">{{ object.power_mic.name }}</option>
                                    {% endif %}
                                </select>
                            </div>
                            <p class="pt-4"><strong>If the answer is yes to any of the below questions you must consult a power supervisor</strong></p>
                            {% include 'partials/yes_no_radio.html' with formitem=form.generators label="Will generators be used?" %}
                            {% include 'partials/yes_no_radio.html' with formitem=form.other_companies_power %}
                            {% include 'partials/yes_no_radio.html' with formitem=form.nonstandard_equipment_power %}
                            {% include 'partials/yes_no_radio.html' with formitem=form.multiple_electrical_environments %}
                            <label for="{{ form.power_notes.id_for_label }}">{{ form.power_notes.help_text }}</label>
                            {% render_field form.power_notes class+="form-control" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">Sound</div>
                        <div class="card-body">
                            <p><strong>If yes, consult a supervisor of sound and make sure an appropriate noise monitoring plan and risk assessment is drawn up</strong></p>
                            {% include 'partials/yes_no_radio.html' with formitem=form.noise_monitoring %}
                            <label for="{{ form.sound_notes.id_for_label }}">{{ form.sound_notes.help_text }}</label>
                            {% render_field form.sound_notes class+="form-control" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">Site Details</div>
                        <div class="card-body">
                            <p><strong>If no to any of the below, a site visit normally should be conducted and an assessment of the venue completed and added to TEC's records</strong></p>
                            {% include 'partials/yes_no_radio.html' with formitem=form.known_venue %}
                            {% include 'partials/yes_no_radio.html' with formitem=form.safe_loading %}
                            {% include 'partials/yes_no_radio.html' with formitem=form.safe_storage %}
                            {% include 'partials/yes_no_radio.html' with formitem=form.area_outside_of_control %}
                            {% include 'partials/yes_no_radio.html' with formitem=form.barrier_required  %}
                            {% include 'partials/yes_no_radio.html' with formitem=form.nonstandard_emergency_procedure %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">Structures</div>
                        <div class="card-body">
                            {% include 'partials/yes_no_radio.html' with formitem=form.special_structures %}
                            <label for="{{ form.persons_responsible_structures.id_for_label }}" class="mt-3">{{ form.persons_responsible_structures.help_text }}</label>
                            {% render_field form.persons_responsible_structures class+="form-control mb-3" %}
                            {% include 'partials/yes_no_radio.html' with formitem=form.suspended_structures %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12 text-right">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary" title="Save"><i
                                class="fas fa-save"></i> Save
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
