{% extends 'base_rigs.html' %}
{% load paginator from filters %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/selects.css' %}"/>
{% endblock %}

{% block preload_js %}
    {{ block.super }}
    <script src="{% static 'js/selects.js' %}" async></script>
{% endblock %}

{% block content %}
{% include 'partials/archive_form.html' %}
<div class="row">
    <div class="col-sm-12">
        {% with object_list as events %}
            {% include 'partials/subhire_table.html' %}
        {% endwith %}
    </div>
</div>

{% paginator %}

{% endblock %}
