{% extends request.is_ajax|yesno:"base_ajax.html,base_rigs.html" %}
{% load widget_tweaks %}

{% block title %}Venue | {{ object.name }}{% endblock %}

{% block content %}
    <div class="row">
        {% if not request.is_ajax %}
            <div class="col-sm-12">
                <h1>Venue | {{ object.name }}</h1>
            </div>
        {% endif %}
        <div class="col-sm-12">
            <div class="card card-info">
                <div class="card-header">Venue Details</div>
                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>Name</dt>
                        <dd>{{ object.name }}</dd>

                        <dt>Phone</dt>
                        <dd><a href="tel:{{ object.phone }}">{{ object.phone }}</a></dd>

                        <dt>Email</dt>
                        <dd><a href="mailto:{{ object.email }}"><span class="overflow-ellipsis">{{ object.email }}</span></a></dd>

                        <dt>Address</dt>
                        <dd>{{ object.address|linebreaksbr }}</dd>

                        <dt>Notes</dt>
                        <dd>{{ object.notes|linebreaksbr }}</dd>

                        <dt>Three Phase Available</dt>
                        <dd>{{ object.three_phase_available|yesno|capfirst }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 py-3">
            <div class="card">
                <div class="card-header">Associated Events</div>
                <div class="card-body">
                    {% with object.latest_events as events %}
                        {% include 'event_table.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>

    {% if not request.is_ajax %}
        <div class="row">
            <div class="col-sm-12 text-right">
                <div class="btn-group btn-page">
                    <a href="{% url 'venue_update' object.pk %}" class="btn btn-warning"><span
                        class="fas fa-edit"></span> Edit</a>
                </div>
                {% include 'partials/last_edited.html' with target="venue_history" %}
            </div>
        </div>
    {% endif %}

{% endblock %}


{% if request.is_ajax %}
    {% block footer %}
        <div class="row">
            <div class="col-sm-12 text-right">
                <div class="btn-group btn-page">
                    <a href="{% url 'venue_detail' object.pk %}" class="btn btn-primary"><span
                        class="fas fa-eye"></span> Open Page</a>
                    <a href="{% url 'venue_update' object.pk %}" class="btn btn-warning"><span
                        class="fas fa-edit"></span> Edit</a>
                </div>
                {% include 'partials/last_edited.html' with target="venue_history" %}
            </div>
        </div>
    {% endblock %}
{% endif %}
