{% if version.changes.item_changes or version.changes.field_changes or version.changes.old == None %}
    {% for change in version.changes.field_changes %}
    	<a tabindex="0" title="Changes to {{ change.field.verbose_name }}" type="button" class="badge badge-secondary" data-container="body" data-html="true" data-trigger='hover' data-toggle="popover" data-content='{% spaceless %}{% include "version_changes_change.html" %}{% endspaceless %}'>{{ change.field.verbose_name }}</a>
    {% endfor %}
    {% for itemChange in version.changes.item_changes %}
        <a tabindex="0" title="Changes to item '{% if itemChange.new %}{{ itemChange.new.name }}{% else %}{{ itemChange.old.name }}{% endif %}'" type="button" class="badge badge-secondary" data-container="body" data-html="true" data-trigger='hover' data-toggle="popover" data-content='{% spaceless %}
            <ul class="list-group">
            {% for change in itemChange.field_changes %}
                  <li class="list-group-item">
                    <h4 class="list-group-item-heading">{{ change.field.verbose_name }}</h4>
                    <div class="dont-break-out">{% include 'version_changes_change.html' with change=itemChange %}</div>
                  </li>
            {% endfor %}
            </ul>
            {% endspaceless %}'>item '{% if itemChange.new %}{{ itemChange.new.name }}{% else %}{{ itemChange.old.name }}{% endif %}'</a>
    {% endfor %}
{% else %}
    nothing useful
{% endif %}
