{% block js %}
{% include 'partials/version_scripts.html' %}
<script>
  const matches = window.matchMedia("(prefers-reduced-motion: reduce)").matches || window.matchMedia("(update: slow)").matches;
  //TODO Maybe this should be a reduce rather than remove
  dur = matches ? 0 : 600;
  ready(function() {
    var activity = document.getElementById('activity');
    var loading = document.getElementById('activity_loading');
    activity.style.display = 'none';
    ajaxFetch("{% url 'activity_feed' %}")
      .then(function (response) { return response.text(); })
      .then(function (html) {
        setHtml(activity, html);
        slideUp(loading, dur);
        window.setTimeout(function () { slideDown(activity, dur); }, dur);
      });
  });
</script>
{% endblock %}

<div class="card">
  <h4 class="card-header">Recent Changes</h4>
  <div class="list-group list-group-flush">
    <div id="activity_loading" class="list-group-item text-center">
      <div class="spinner-border text-primary" role="status">
         <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div id="activity">
    </div>
  </div>
</div>
