{% load static %} 
<script src="{% static "js/tooltip.js" %}"></script>
<script src="{% static "js/popover.js" %}"></script>
<script src="{% static "js/moment.js" %}"></script>
<script>
    $(function () {
            $('[data-toggle="tooltip"]').tooltip();
    });
    $(function() {
        $('[data-toggle="popover"]').popover({whiteList: whiteList});
    });
</script>
<script>
    var whiteList = $.fn.tooltip.Constructor.Default.whiteList
    whiteList.ins = []
    whiteList.del = []
    $(document).ready(function() {
        
    });
</script>