{% extends 'base_assets.html' %}
{% load widget_tweaks %}
{% load asset_templatetags %}
{% block title %}Asset {{ object.asset_id }}{% endblock %}


{% block content %}

<div class="page-header">
  <h1>
      {% if duplicate %}
          Duplication of Asset: {{ previous_asset_id }}
      {% else %}
          Create Asset
      {% endif %}
  </h1>
</div>
{% if duplicate %}
<form method="post" id="asset_update_form" action="{% url 'asset_duplicate' pk=previous_asset_pk%}">
  {% else %}
  <form method="post" id="asset_update_form" action="{% url 'asset_create'%}">
    {% endif %}
    {% include 'form_errors.html' %}
    <div class="row" style="padding-bottom: 1em">
      <div class="col-sm-12">
        <div class="pull-right">
          {% include 'partials/asset_buttons.html' %}
        </div>
      </div>
    </div>
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ object.id|default:0 }}" hidden=true>
    <div class="row">
      <div class="col-sm-12">
        {% include 'partials/asset_form.html' %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include 'partials/purchasedetails_form.html' %}
      </div>
      <div class="col-md-6" hidden="true" id="cable-table">
        {% include 'partials/cable_form.html' %}
      </div>
      <div class="col-md-4">
        {% include 'partials/parent_form.html' %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include 'partials/asset_buttons.html' %}
      </div>
    </div>
  </form>

  {% include 'partials/confirm_delete.html' with object=object %}

  {% endblock %}

  {% block js%}
  <script>
    function checkIfCableHidden() {
      if (document.getElementById("id_is_cable").checked) {
        document.getElementById("cable-table").hidden = false;
      } else {
        document.getElementById("cable-table").hidden = true;
      }
    }
    checkIfCableHidden();
  </script>
  {%endblock%}
