{% extends 'base_assets.html' %}
{% load static %}
{% load paginator from filters %}
{% load widget_tweaks %}

{% block js %}
    <script>
    ready(function(){
        document.getElementById('asset-search-form').addEventListener('submit', function (e) {
            e.preventDefault();
            document.getElementById('searchButton').focus();
            document.getElementById('searchButton').click();
        });
        document.getElementById('searchButton').addEventListener('click', function (e) {
             e.preventDefault();
             var url = "{% url 'asset_audit' None %}".replace('None', document.getElementById("{{form.q.id_for_label}}").value);
             fetch(url, {method: 'HEAD', credentials: 'same-origin'})
                .then(function (response) {
                    if (!response.ok) {
                        throw new Error(response.statusText);
                    }
                    modaltarget = undefined;
                    modalobject = "";
                    return loadModal(url);
                })
                .catch(function () {
                    document.getElementById("error404").hidden = false;
                });
        });
    });
    function onAuditClick(assetID) {
         document.getElementById(assetID).remove();
    }
    document.getElementById('modal').addEventListener('hidden.bs.modal', function () {
      var searchbar = document.getElementById('id_q');
      searchbar.value = "";
      searchbar.focus();
    });
    </script>
{% endblock %}

{% block content %}
<div id="error404" class="alert alert-danger alert-dismissable" hidden=true>
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	<span>Asset with that ID does not exist!</span>
</div>

<form id="asset-search-form" class="mb-3" method="GET">
  <div class="mb-3 row g-2">
      <h3>Audit Asset:</h3>
      <div class="input-group input-group-lg">
        {% render_field form.q|add_class:'form-control' placeholder='Enter Asset ID' autofocus="true" %}
        <label for="q" class="visually-hidden">Asset ID:</label>
            <a id="searchButton" class="btn btn-primary" class="submit" type="submit">Search</a>
      </div>
  </div>
</form>

<h3>Assets Requiring Audit:</h3>
{% include 'partials/asset_list_table.html' with audit="true" %}

{% if is_paginated %}
<div class="text-center">
  {% paginator %}
</div>
{% endif %}
{% endblock %}
