{% for item in object_list %}
    {#                <li><a href="{% url 'asset_detail' item.pk %}">{{ item.asset_id }} - {{ item.description }}</a></li>#}
    <tr>
        <td><a href="{% url 'asset_detail' item.pk %}">{{ item.asset_id }}</a></td>
        <td>{{ item.description }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.status }}</td>
        <td>
            <a href="{% url 'asset_detail' item.pk %}"><i class="material-icons">visibility</i></a>
            <a href="{% url 'asset_update' item.pk %}"><i class="material-icons">edit</i></a>
            <a href="{% url 'asset_update' item.pk %}?duplicate=true"><i class="material-icons">content_copy</i></a>
        </td>
    </tr>
{% endfor %}