{% extends 'base_assets.html' %}
{% block title %}Supplier List{% endblock %}
{% load paginator from filters %}
{% load widget_tweaks %}

{% block content %}
<div class="page-header">
    <h1>Cable Type List</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cable Type</th>
      <th>Circuits</th>
      <th>Cores</th>
      <th>Quick Links</th>
    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
    <tr>
      <td>{{ item }}</td>
      <td>{{ item.circuits }}</td>
      <td>{{ item.cores }}</td>
      <td>
        <a href="{% url 'cable_type_detail' item.pk %}" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i> View</a>
        <a href="{% url 'cable_type_update' item.pk %}" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
<div class="text-center">
  {% paginator %}
</div>
{% endif %}

{% endblock %}
