{% extends 'base_assets.html' %}
{% load paginator from filters %}
{% load button from filters %}
{% load widget_tweaks %}

{% block content %}
<div class="row my-2">
    <div class="col text-right pr-0">
    {% button 'new' 'cable_type_create' %}
    </div>
</div>
<div class="row">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Cable Type</th>
      <th scope="col">Circuits</th>
      <th scope="col">Cores</th>
      <th scope="col">Quick Links</th>
    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
    <tr>
      <th scope="row">{{ item }}</th>
      <td>{{ item.circuits }}</td>
      <td>{{ item.cores }}</td>
      <td>
        <a href="{% url 'cable_type_detail' item.pk %}" class="btn btn-primary"><span class="fas fa-eye"></span> View</a>
        <a href="{% url 'cable_type_update' item.pk %}" class="btn btn-warning"><span class="fas fa-edit"></span> Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div class="row">
{% if is_paginated %}
<div class="text-center">
  {% paginator %}
</div>
{% endif %}
</div>
{% endblock %}
