<div id="confirm_delete_modal" class="modal">
    <form method="post" id="confirm_delete_form">
        {% csrf_token %}
        <div class="modal-content">
            <h4>Confirm Delete</h4>
            <p>Are you sure you want to delete asset:
                <strong>{{ object }}</strong>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="modal-close btn-flat" onclick="deleteAsset({{ object.id }})">Delete</button>
            {#        <a href="#" class="modal-close btn-flat green">Close</a>#}
            <a href="#" class="modal-close btn-flat red">Cancel</a>
        </div>
    </form>
</div>