{% extends request.is_ajax|yesno:'base_ajax.html,base_assets.html' %}
{% block title %}Supplier | {{ object.name }}{% endblock %}

{% block content %}
<div class="row">
    {% if not request.is_ajax %}
        <div class="col-sm-12">
            <h1>Supplier | {{ object.name }}</h1>
        </div>
        <div class="col-sm-12 text-right">
            <div class="btn-group btn-page">
                <a href="{% url 'supplier_update' object.pk %}" class="btn btn-default"><span
                    class="glyphicon glyphicon-pencil"></span> Edit</a>
            </div>
        </div>
    {% endif %}
    <div class="col pb-3">
      <div class="card">
          <div class="card-header">Supplier Details</div>
          <div class="card-body">
              <dl class="row">
                    <dt class="col-6">Name</dt>
                    <dd>{{ object.name }}</dd>

                    <dt class="col-6">Phone</dt>
                    <dd>{% if object.phone %}<a href="tel:{{ object.phone }}">{% endif %}{{ object.phone }}{% if object.phone %}</a>{% endif %}</dd>

                    <dt class="col-6">Email</dt>
                    <dd>{% if object.email %}<a href="mailto:{{ object.email }}">{% endif %}<span class="overflow-ellipsis">{{ object.email }}</span>{% if object.email %}</a>{% endif %}</dd>

                    <dt class="col-12">Address</dt>
                    <dd class="col-12">{{ object.address|linebreaksbr }}</dd>

                    <dt class="col-12">Notes</dt>
                    <dd class="col-12">{{ object.notes|linebreaksbr }}</dd>
              </dl>
          </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
          <div class="card-header">Associated Assets</div>
          {% with object.assets.all as object_list %}
              {% include 'partials/asset_list_table.html' %}
          {% endwith %}
      </div>
    </div>
</div>
{% if not request.is_ajax %}
    <div class="row">
        <div class="col-sm-12 text-right">
            <div class="btn-group btn-page">
                <a href="{% url 'supplier_update' object.pk %}" class="btn btn-default"><span
                    class="glyphicon glyphicon-pencil"></span> Edit</a>
            </div>
            {% include 'partials/last_edited.html' with target="supplier_history" %}
        </div>
    </div>
{% endif %}
{% endblock %}
{% if request.is_ajax %}
{% block footer %}
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group btn-page">
            <a href="{% url 'supplier_detail' object.pk %}" class="btn btn-primary"><span
                class="fas fa-eye"></span> Open Page</a>
            <a href="{% url 'supplier_update' object.pk %}" class="btn btn-light"><span
                class="fas fa-edit"></span> Edit</a>
        </div>
        {% include 'partials/last_edited.html' with target="supplier_history" %}
    </div>
</div>
{% endblock %}
{% endif %}
