{% extends 'base.html' %}
{% block title %}List{% endblock %}

{% block content %}

    <h4>Supplier List</h4>

    <table class="striped">
        <thead>
        <tr>
            <th>Supplier</th>
            <th>Quick Links</th>
        </tr>
        </thead>
        <tbody id="asset_table_body">
            {% for item in object_list %}
            <tr>
                <td>{{ item.name }}</td>
                <td>
                    <a href="{% url 'supplier_update' item.pk %}"><i class="material-icons">edit</i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'helpers/paginator.html' %}

{% endblock %}