<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{page_title|safe}}{% block title %}{% endblock %}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% block content %}{% endblock %}
        </div>
        <div class="modal-footer">
            {% block footer %}{% endblock %}
        </div>
    </div>
</div>
