{% load static from staticfiles %}
{% load raven %}


<!DOCTYPE html>
<html
        dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
        xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
        lang="{% firstof LANGUAGE_CODE 'en' %}">
<head>
    <title>{% block title %}{% endblock %} | Rig Information Gathering System</title>

    <meta name="viewport" content="initial-scale=1">

    <link rel="icon" type="image/png" href="{% static "imgs/pyrigs-avatar.png" %}">
    <link rel="apple-touch-icon" href="{% static "imgs/pyrigs-avatar.png" %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700,300,400' rel='stylesheet'
          type='text/css'>


    <link rel="stylesheet" type="text/css" href="{% static "assets/vendor.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/pyrigs.css" %}">
    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
</head>

<body>
{% include "analytics.html" %}
{% include "navbar.html" %}

<div class="container">
    <div id="content" class="row">
        {% block content-header %}
            {% if error %}
                <div class="error">{{ error }}</div>{% endif %}
            {% if info %}
                <div class="info">{{ info }}</div>{% endif %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.level_tag }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}
    </div>

    <div id="sidebar" class="column">
        {% block sidebar %}
        {% endblock %}
    </div>
</div>

<div class="modal fade" id="modal" role="dialog" tabindex=-1></div>

<script src="{% static "assets/vendor.js" %}"></script>
<script src="{% static "assets/pyrigs.js" %}"></script>
<script src="https://cdn.ravenjs.com/1.3.0/jquery,native/raven.min.js"></script>
<script>Raven.config('{% sentry_public_dsn %}').install()</script>

<script>
    Date.prototype.getISOString = function () {
        var yyyy = this.getFullYear().toString();
        var mm = (this.getMonth() + 1).toString(); // getMonth() is zero-based
        var dd = this.getDate().toString();
        return yyyy + '-' + (mm[1] ? mm : "0" + mm[0]) + '-' + (dd[1] ? dd : "0" + dd[0]); // padding
    };
</script>
<script>
    $('.navbar-collapse').addClass('collapse')
</script>
<script src="{% static "js/konami.js" %}"></script>
<script>
    jQuery(document).ready(function () {
        jQuery(document).on('click', '.modal-href', function (e) {
            $link = jQuery(this);
            // Anti modal inception
            if ($link.parents('#modal').length == 0) {
                e.preventDefault();
                modaltarget = $link.data('target');
                modalobject = "";
                jQuery('#modal').load($link.attr('href'), function (e) {
                    jQuery('#modal').modal();
                });
            }
        });


        var easter_egg = new Konami();
        easter_egg.code = function () {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            document.body.appendChild(s);
            s.src = '{% static "js/asteroids.min.js"%}';
            ga('send', 'event', 'easter_egg', 'activated');
        };
        easter_egg.load();
    });
</script>
{% block js %}
{% endblock %}
</body>
</html>
