{% extends 'base.html' %}
{% block titleheader %}
    <a class="nav navbar-brand navbar-left" href="/"><i class="glyphicon glyphicon-circle-arrow-left" style="vertical-align: middle !important;"></i> RIGS</a>
    <a class="nav navbar-brand" href="{% url 'asset_index' %}">Assets</a>
{% endblock %}

{% block titleelements %}
    {% if perms.assets.view_asset %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Assets<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'asset_list' %}"><span class="glyphicon glyphicon-list"></span> List Assets</a></li>
                {% if perms.assets.add_asset %}
                    <li><a href="{% url 'asset_create' %}"><span class="glyphicon glyphicon-plus"></span> Create Asset</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
    {% if perms.assets.view_supplier %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Suppliers<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'supplier_list' %}"><span class="glyphicon glyphicon-list"></span>
                    List Suppliers</a></li>
                {% if perms.assets.add_asset %}
                    <li><a href="{% url 'supplier_create' %}"><span class="glyphicon glyphicon-plus"></span> Create Supplier</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
    {% if perms.assets.view_asset %}
        <li><a href="{% url 'activity_table' %}">Recent Changes</a></li>
    {% endif %}
{% endblock %}
