{% if is_paginated %}
    {% load url_replace from filters %}
	<ul class="pagination">
		{% if has_previous %}
			<li><a class="page-link" href="?{% url_replace request 'page' previous %}" class="prev">&lsaquo;&lsaquo;</a></li>
		{% else %}
			<li class="disabled prev"><a class="page-link" href="#" disabled>&lsaquo;&lsaquo;</a></li>
		{% endif %}

        {% if show_first %}
            <li><a class="page-link" href="?{% url_replace request 'page' first %}" class="prev">{{ first }}</a></li>
            <li><span>&hellip;</span></li>
        {% endif %}

        {% for page in page_numbers %}
            {% ifequal page page_obj.number %}
                <li class="current page active"><a class="page-link" href="#">{{ page }}</a></li>
            {% else %}
                <li><a class="page-link" href="?{% url_replace request 'page' page %}" class="page">{{ page }}</a></li>
            {% endifequal %}
        {% endfor %}

        {% if show_last %}
            <li><span>&hellip;</span></li>
            <li><a class="page-slink" href="?{% url_replace request 'page' last %}" class="prev">{{ last }}</a></li>
        {% endif %}

        {% if has_next %}
            <li><a class="page-link" href="?{% url_replace request 'page' next %}" class="next">&rsaquo;&rsaquo;</a></li>
        {% else %}
            <li class="page-link" class="disabled next"><a href="#">&rsaquo;&rsaquo;</a></li>
        {% endif %}
    </ul>
{% endif %}
