@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "jq-ui-bootstrap/_jq-ui-bootstrap-variable-adapter";
@import "jq-ui-bootstrap/_base";
@import "jq-ui-bootstrap/_autocomplete";
@import "jq-ui-bootstrap/_menu";
@import "jq-ui-bootstrap/_tooltip";

body, .pad-top {
	padding-top: 50px;
}

#content {
	padding: 40px 15px;
}

#userdropdown > li {
	padding: 0 0.3em;
	
	&.media {
		display: inline-flex;
	}
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

.align-right {
	text-align: right;
}

textarea {
	width: 100%;
	resize: vertical;
}

.btn-page, .btn-pad { // .btn-page should be refactored out to .btn-page in the future
	margin: 0 0 0.5em;
}

.custom-combobox {
	display: block;
}