$font-family-sans-serif:  "Open Sans", sans-serif;
//Make it look less primary school
$font-size-base: 0.875rem;
$theme-colors: (
  "yellow": #FF8800,
  "success": #00C851,
  "warning": #ffbb33,
  "danger": #CC0000,
  "info": #33b5e5,
  "primary": #4CB8F1
) !default;
$enable-shadows: true;
