$font-family-sans-serif:  "Open Sans", sans-serif;
//Make it look less primary school
$font-size-base: 0.875rem;
$theme-colors: (
  "yellow": #ffd351,
  "success": #3b7743,
  "warning": #D3963B,
  "danger": #A94447,
  "info": #B8FAFF,
  "primary": #4CB8F1
) !default;
