[data-theme='dark'] {
    $theme-colors: (
      "success": #3AB54A,
      "warning": #FFE89B,
      "danger": #BF1E2E,
      "info": #25AAE2,
      "primary": #3A52A2
    );
    @import "custom-variables";
    @import 'node_modules/@forevolve/bootstrap-dark/scss/bootstrap-dark.scss';
    background: #222;
    color: $gray-100;
    .navbar {
        background-color: #111111 !important;
    }
    .dropdown-menu {
        box-shadow: 0 0.5rem 1rem black;
        color: $gray-100;
        background: #121416;
    }
    .form-control:not(.btn) {
        background-color: #121416;
        color: $gray-100;
    }
    .btn-light, .popover-header, .status {
        background-color: #121416 !important;
        color: $gray-100 !important;
        border-color: #121416;
    }
    a {
        color: $blue;
    }
    .badge, .btn-success {
        color: black;
    }
    .badge-dark, .badge-secondary, .btn-primary {
        color: $gray-100;
    }
    .input-group-text {
        border-color: #121416;
    }
    .page-item.disabled {
        opacity: 0.5;
    }
    .bg-light {
        color: black;
        background-color: $gray-200 !important;
        border-radius: 0.2em;
    }
    del {
      color: black;
      background-color: $danger;
      border-radius: 3px;
    }
    ins {
      color: black;
      background-color: $success;
      border-radius: 3px;
    }
    pre {
        background: $gray-600;
        color: white;
    }
}
