@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/animate-sass/animate";
//@import "node_modules/transform/transform";

body, .pad-top {
  padding-top: 50px;
}

#content {
  padding: 40px 15px;
}

#userdropdown > li {
  padding: 0 0.3em;
}

#userdropdown > li, #activity {
  .media-object {
    max-width: 3em;
  }
}

.table tbody > tr > td.vert-align {
  vertical-align: middle;
}

.align-right {
  text-align: right;
}

textarea {
  width: 100%;
  resize: vertical;
}

.btn-page, .btn-pad {
  // .btn-page should be refactored out to .btn-page in the future
  margin: 0 0 0.5em;
}

.custom-combobox {
  display: block;
}

.event-mic-photo {
  max-width: 2em;
}

.item-description {
  margin-left: 1em;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.modal-dialog {
  z-index: inherit; // bug fix introduced in 52682ce
}

del {
  background-color: #f2dede;
  border-radius: 3px;
}

ins {
  background-color: #dff0d8;
  border-radius: 3px;
}

.loading-animation {
  position: relative;
  margin: 30px auto 0;

  .circle {
      background-color: rgba(0,0,0,0);
      border: 5px solid rgba(0,183,229,0.9);
      opacity: .9;
      border-right: 5px solid rgba(0,0,0,0);
      border-left: 5px solid rgba(0,0,0,0);
      border-radius: 50px;
      box-shadow: 0 0 35px #2187e7;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      //@include animated(spinPulse 1s infinite ease-in-out);
  }

  .circle1 {
      background-color: rgba(0,0,0,0);
      border: 5px solid rgba(0,183,229,0.9);
      opacity: .9;
      border-left: 5px solid rgba(0,0,0,0);
      border-right: 5px solid rgba(0,0,0,0);
      border-radius: 50px;
      box-shadow: 0 0 15px #2187e7;
      width: 30px;
      height: 30px;
      margin: 0 auto;
      position: relative;
      top: -40px;
      //@include animated(spinoffPulse 1s infinite linear);
  }

  /*@include animate-keyframe(spinPulse) {
      0% {
          @include rotate(160deg);
          opacity: 0;
          box-shadow: 0 0 1px #2187e7;
      }

      50% {
          @include rotate(145deg);
          opacity: 1;
      }

      100% {
          @include rotate(-320deg);
          opacity: 0;
      };
  }

  @include animate-keyframe(spinoffPulse) {
      0% {
          @include rotate(0deg);
      }

      100% {
          @include rotate(360deg);
      };
  }*/
}

html.embedded {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  justify-content: center;

  body{
    padding:0;
    width:100%;
    background:none;
    overflow: auto;
  }

  .embed_container{
    border:5px solid #e9e9e9;
    padding:12px 0px;
    min-height:100%;
    width:100%;
  }

  .source{
    background: url('/static/imgs/pyrigs-avatar.png') no-repeat;
    background-size: 16px 16px;
    padding-left: 20px;
    color: #000;
  }

  h3{
    margin-top:10px;
    margin-bottom:5px;
  }

  p{
    margin-bottom:2px;
    font-size: 11px;
  }

  .event-mic-photo{
    max-width: 3em;
  }
}
