@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "jq-ui-bootstrap/_jq-ui-bootstrap-variable-adapter";
@import "jq-ui-bootstrap/_base";
@import "jq-ui-bootstrap/_autocomplete";
@import "jq-ui-bootstrap/_menu";
@import "jq-ui-bootstrap/_tooltip";

@import "compass/css3/animation";
@import "compass/css3/transform";

body, .pad-top {
  padding-top: 50px;
}

#content {
  padding: 40px 15px;
}

#userdropdown > li {
  padding: 0 0.3em;
}

#userdropdown > li, #activity {
  .media-object {
    max-width: 3em;
  }
}

.table tbody > tr > td.vert-align {
  vertical-align: middle;
}

.align-right {
  text-align: right;
}

textarea {
  width: 100%;
  resize: vertical;
}

.btn-page, .btn-pad {
  // .btn-page should be refactored out to .btn-page in the future
  margin: 0 0 0.5em;
}

.custom-combobox {
  display: block;
}

.event-mic-photo {
  max-width: 2em;
}

.item-description {
  margin-left: 1em;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
}

.modal-dialog {
  z-index: inherit; // bug fix introduced in 52682ce
}

.panel-default {
  .default {
    background-color: $panel-default-heading-bg;
  }
}

.loading-animation {
  position: relative;
  margin: 30px auto 0;

  .circle {
      background-color: rgba(0,0,0,0);
      border: 5px solid rgba(0,183,229,0.9);
      opacity: .9;
      border-right: 5px solid rgba(0,0,0,0);
      border-left: 5px solid rgba(0,0,0,0);
      border-radius: 50px;
      box-shadow: 0 0 35px #2187e7;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      @include animation(spinPulse 1s infinite ease-in-out);
  }

  .circle1 {
      background-color: rgba(0,0,0,0);
      border: 5px solid rgba(0,183,229,0.9);
      opacity: .9;
      border-left: 5px solid rgba(0,0,0,0);
      border-right: 5px solid rgba(0,0,0,0);
      border-radius: 50px;
      box-shadow: 0 0 15px #2187e7;
      width: 30px;
      height: 30px;
      margin: 0 auto;
      position: relative;
      top: -40px;
      @include animation(spinoffPulse 1s infinite linear);
  }

  @include keyframes(spinPulse) {
      0% {
          @include rotate(160deg);
          opacity: 0;
          box-shadow: 0 0 1px #2187e7;
      }

      50% {
          @include rotate(145deg);
          opacity: 1;
      }

      100% {
          @include rotate(-320deg);
          opacity: 0;
      };
  }

  @include keyframes(spinoffPulse) {
      0% {
          @include rotate(0deg);
      }

      100% {
          @include rotate(360deg);
      };
  }
}

.toc-nav {
  width: auto;
  display: inline-block;

  &.affix {
    top: $navbar-height;
  }
}

.anchor {
  display: block;
  position: relative;
  top: -$navbar-height - 10px;
  visibility: hidden;
}

